<table class="table table-hover">
  <thead>
    <tr>
      <th style="width:60%;"></th>
      <th style="width:40%;"></th>
    </tr>
  </thead>

  <tbody>
  <% workshops.each do |workshop| %>
    <tr class="event_summary expandable" name="<%= workshop.to_param %>">
      <td>
        <div class="span2 pull-right center-text">
          <%= render :partial => 'events/smart_attend_btn', :locals => {:event => workshop.ongoing_or_next_rerun, :no_button => true} %>
        </div>
        <h3 class="event_title<%= %q( muted) unless workshop.ongoing_or_next_rerun %>"><%= annotated_workshop_title(workshop) %></h3>
        <div class="more muted very_faint"><i class="icon-sort-down"></i> <span>click to expand</span> <i class="icon-sort-down"></i></div>
      </td>
      <td>
        <%= render :partial => 'workshops/when_where_host_table', :locals => {:workshop => workshop} %>
      </td>
    </tr>
    <tr style="display: none;" class="event_detail">
      <td>
        <h3 class="event_title<%= %q( muted) unless workshop.ongoing_or_next_rerun %>"><%= annotated_workshop_title(workshop) %><%= render :partial => "workshops/promo_link", :locals => {:workshop => workshop} %></h3>
        <div class="span2 pull-right center-text margin10">
          <span class="cta"><%= render :partial => 'events/smart_attend_btn', :locals => {:event => workshop.ongoing_or_next_rerun} %></span>
          <%= content_tag(:div, event_price(workshop.ongoing_or_next_rerun), :class => 'muted') unless workshop.ongoing_or_next_rerun.blank? %>
          <%
            # FIXME: optimize this
            upcoming_reruns = workshop.upcoming_reruns
            upcoming_reruns.shift
          %>
          <% unless upcoming_reruns.blank? %>
            <h4>Next Dates</h4>
            <% upcoming_reruns.map(&:first_meeting).each do |m| -%>
              <div><%= meeting_date(m, :short_date => true) %></div>
            <% end -%>
          <% end %>

        </div>
        <div class="event_description">
          <%= BlueCloth.new(workshop.description, :filter_html).to_html.html_safe %>
        </div>
      </td>
      <td>
        <%= render :partial => 'workshops/when_where_host_table', :locals => {:workshop => workshop, :show_image => true} %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% body_script do -%>
  function expand_row(row, duration) {
    row.hide();

    // Collapse any other expanded rows
    $("tr.event_detail").filter(":visible").each(function(i) {
      $(this).hide();
      $(this).closest("tr").prev().show();
    });
    
    // Open up the dual of the clicked on row
    if ( row.hasClass('event_detail') ) {
      row.prev().show(duration);
    } else {
      row.next().show(duration);
    }
  }
<% end -%>

<% ready_script do -%>
  $("tr.expandable").click(function(event) {
      if(event.target.nodeName == 'A') return;
      event.stopPropagation();
      expand_row($(this), 1000);
  });
  $("tr.expandable").hover(
    function() {
      $(this).find(".more").fadeTo(300,1);
    },
    function() {
      $(this).find(".more").fadeTo(0,0.001);
    }
  );
  if (window.location.hash) {
    var tr_expandable = $('tr[name="' + window.location.hash.substring(1) + '"]'),
        tr_details = tr_expandable.next();
    expand_row(tr_expandable, 0);
    $('html, body').animate({ scrollTop: tr_details.offset().top + 'px'}, 'fast');
  };
<% end -%>
