<%
  show_submit_button ||= false
%>
<%= simple_form_for(@workshop) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs row">
    <div class="col-md-9">
      <%= f.input :title, label: 'Title', input_html: {class: 'col-md-8'} %>
      <%= f.input :description, as: :text, input_html: {:rows => "6", :'data-provide' => "markdown"} %>
      <% if admin_session? and @workshop.external%>
        <div class="well admin-only">
          <%= f.input_field :external %>

          <%= f.input :external_url, :wrapper => :append, :label => 'External URL' do %>
            <%= f.input_field :external_url %><span class="input-group-addon"><i class="icon-external-link"></i></span>
          <% end %>

          <%= f.input :host_id, label: 'External Host', collection: User.where(:external => true), hint: %Q(Select an external host or #{link_to('create a new one', new_admin_user_path)}.).html_safe %>
        </div>
      <% end %>
      <% if show_submit_button %>
        <div class="form-actions">
          <%= f.button :submit, :class => "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= render :partial => 'images/fancy_jansy_upload', :locals => {:f => f, :size => :large_orig, :img_url => @workshop.img_src(:large_orig)} %>
    </div>
  </div>
<% end %>
<%= render :partial => 'shared/markdown_a_la_carte' %>
