<%
  workshops ||= @workshops
  show_last ||= 5
%>
<div class="row">
  <div class="col-md-10">
    <% @workshops.each do |workshop| %>
      <h3 id="w_<%= workshop.uuid %>"><%= workshop.title %></h3>
      <%= link_to 'configure', edit_workshop_path(workshop) %>
     <div class="margin_top10 reruns" data-workshop-uuid="<%= workshop.uuid%>">
        <% c = workshop.events.joins(:first_meeting).count %>
        <% if (c > 0) %>
          <% if (c > show_last) %>
            <%= iconic_link_to "show #{c - show_last} older#{content_tag(:i, '', :class => "fa fa-caret-up")}".html_safe, '#', :icon => 'caret-up', :class => 'show_all_reruns' %>
          <% end %>
          <%= render partial: 'events/simple_host_row', collection: workshop.events.ordered_by_first_meeting_start_time.offset([c - show_last, 0].max), as: :event %>
        <% else %>
          <span class="muted">none scheduled</span>
        <% end %>
     </div>
     <%= iconic_link_to 'schedule new rerun in series', auto_add_rerun_workshop_path(workshop), :icon => 'plus', class: "btn btn-default btn-xs" %>
    <% end %>
  </div>
</div>
