<%
  workshops ||= @workshops
%>
<div class="row">
  <div class="col-md-10">
    <% @workshops.each do |workshop| %>
      <h3 id="w_<%= workshop.uuid %>" class="text-muted"><%= workshop.title %> <%= iconic_link_to '', edit_workshop_path(workshop), :icon => 'cog', class: 'btn btn-default btn-sm pull-right configure_workshop', title: 'configure' %></h3>
     <div class="margin_top10 reruns" data-workshop-uuid="<%= workshop.uuid%>">
        <% c = workshop.events.joins(:first_meeting).count %>
        <% reruns = [workshop.last_rerun] + workshop.upcoming_reruns.ordered_by_first_meeting_start_time %>
        <% if (c > 0) %>
          <% if (c > reruns.count) %>
            <%= iconic_link_to "show #{c - reruns.count} older#{content_tag(:i, '', :class => "fa fa-caret-up")}".html_safe, '#', :icon => 'caret-up', :class => 'show_all_reruns' %>
          <% end %>
          <%= render partial: 'events/simple_host_row', collection: reruns, as: :event %>
        <% else %>
          <span class="muted">none scheduled</span>
        <% end %>
     </div>
     <%= iconic_link_to 'schedule new rerun in series', auto_add_rerun_workshop_path(workshop), icon: 'plus', class: "btn btn-default btn-xs auto_add_rerun", remote: true, method: :post, data: {type: 'html'} %>
    <% end %>
  </div>
</div>
