<%
  workshops ||= @workshops
%>
<div class="row">
  <div class="col-md-10">
    <% @workshops.each do |workshop| %>
      <h3 class="margin0" id="w_<%= workshop.uuid %>"><%= workshop.title %></h3>
      <%= link_to 'configure', edit_workshop_path(workshop) %> | 
      <%= link_to 'new', auto_add_rerun_workshop_path(workshop) %>
     <div class="margin_top10">
        <%= render partial: 'events/simple_host_row', collection: workshop.events.order(:start_time), as: :event %>
     </div>
    <% end %>
  </div>
</div>
