<%
  workshop ||= @workshop
  show_date ||= false
%>
<% cache workshop.cache_key("in_index_date_#{show_date}") do -%>
<li class="media badged clearfix">
  <a class="pull-left badge_me" href="<%= workshop_path(workshop) %>">
    <%= image_tag workshop.img_src(:medium), :class => 'img-rounded' %>
    <%= image_tag(workshop.host.profile_img_src(:thumb), :class => 'thumb_badge') if workshop.host.promote_host %>
  </a>
  <div class="media-body">
    <% if workshop.host.promote_host %>
      <%= link_to workshop.host.possessable_name.possessive, workshop.host, :class => 'muted' %>
    <% end %>

    <h4 class="start_time blocky_spns">
      <% if rerun = workshop.ongoing_or_next_rerun %>
        <% if rerun.first_meeting.ongoing? %>
          <span class="muted">happening now</span>
        <% else %>
          <%= meeting_time(rerun.first_meeting, :show_date => show_date, :show_end_time => false, :no_tz => true, :show_livestamp => false, :short_date => true) %>
          <% if false #  rerun.first_meeting.start_time - Time.now < 10.days %>
            <%= content_tag(:span, '', :class => 'muted pull-right smaller', :'data-livestamp' => rerun.first_meeting.start_time) %>
          <% end %>
        <% end %>
      <% end %>    
    </h4>

    <%= user_thumb(workshop.host, :size => :small, :linked => true) %>

    <h4 class="media-heading"><%= link_to workshop.title, workshop_path(workshop) %></h4>
    <div class="row">
      <% if rerun = workshop.ongoing_or_next_rerun %>
        <div class="span3">
          <p>
            <%= render 'reruns/location', :rerun => rerun %>
            <% if workshop.respond_to? :dist %>
              <span class="workshop_dist" data-longitude="<%= workshop.location.longitude %>" data-latitude="<%= workshop.location.latitude %>">&nbsp;</span>
            <% end %>
          </p>
        </div>

        <div class="span1">
          <%= render 'reruns/price_full_or_spots_left', :rerun => rerun %>
        </div>
      <% end %>
    </div>
  </div>
</li>
<% end -%>
