<%
  workshop ||= @workshop
  linked ||= false
  thumb_size ||= :small
  span ||= "6"
  right_caption ||= false
  linked_to = (linked === :edit ? edit_workshop_path(workshop) : workshop)
%>
<ul class="thumbnails">
  <li class="span<%= span %>">
    <div class="thumbnail<%= " right-caption" if right_caption %>">
      <%= link_to image_tag(workshop.img_src(thumb_size), :class => "img-rounded"), linked_to %>
    </div>
    <div class="caption <%= thumb_size %><%= " right-caption" if right_caption %>">
      <span>
        <%= annotated_workshop_title(workshop, :linked_to => linked_to) %>
      </span>
    </div>
  </li>
</ul>
