<% 
   workshop ||= @workshop
   remote ||= false
   auto_submit ||= false
   span ||= 'span6'
   id = "warmup_message_#{UUIDTools::UUID.random_create.to_s}"
   options = remote ? {:remote => remote, :html => {:'data-type' => 'json', :id => id}} : {}
	 placeholder_subject ||= "Get ready for #{workshop.title}"
	 placeholder_body ||= %Q(I look forward to seeing you at #{workshop.title} day after tomorrow.\n\nHere's what to expect...\n\nDon't forget to bring...\n\nSee you there!)
%>
<%= simple_form_for(@workshop, options) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :warmup_subject, label: 'Subject', input_html: {class: span}, placeholder: placeholder_subject %>
    <%= f.input :warmup_body, label: 'Body', input_html: {rows: 8, class: span}, placeholder: placeholder_body %>
		<%= f.label :footer %>
		<%= f.hint 'automatically included' %>
		<div class="well">
			<%= render 'user_mailer/footer', :message => Message.new(:apropos => workshop, :from_user => workshop.host) %>			
		</div>
  </div>
<% end %>

<% ready_script do -%>
	$('textarea[placeholder]').placeholder();
<% end %>

<% if auto_submit %>
  <% ready_script do -%>
    $('#<%= id %> :input').change(function(){
      $('#spinner_for_<%= id %>').css('display', 'block');
      $(this).closest('form').submit();
    });
    $('#<%= id %>').bind("ajax:success", function(evt, data, status, xhr){
      setTimeout(function() {
        $('#spinner_for_<%= id %>').hide();
      }, 500);
    })
  <% end -%>
<% end %>
