<% workshop ||= @workshop 
   show_image ||= false
   next_rerun = workshop.ongoing_or_next_rerun
%>
<table class="table borderless when_where_host_table">
  <tbody>
    <tr>
      <td class="when">
        <% if next_rerun %>
          <div class="blocky_spns">
            <% if next_rerun.first_meeting.ongoing? %>
              <%= meeting_time(next_rerun.first_meeting, :short_date => true, :no_tz => true, :show_livestamp => false) %>
              <span class="muted">happening right now</span>
            <% else %>
              <%= meeting_time(next_rerun.first_meeting, :short_date => true, :no_tz => true, :show_livestamp => true) %>
            <% end %>
          </div>
          <p><%= render :partial => 'events/inline_attend_state', :locals => {:event => next_rerun} %></p>
        <% else %>
          <span class="muted">no upcoming dates</span>
        <% end %>
      </td>
      <td class="where">
        <% if next_rerun %>
          <%= next_rerun.venue.blank? ? 'TBD' : neighborhood_or_city_n_state(next_rerun.venue.location, :show_popover_map => false) %>
        <% end %>
      </td>
      <td class="attends">
        <% if next_rerun %>
          <div class="blocky_spns">
            <% if next_rerun.slots_left == 0 %>
              <span class="blocky_attend text-error"><%= next_rerun.attendances.count %></span><span class="text-error">going</span>
            <% else %>
              <span class="blocky_attend"><%= next_rerun.attendances.count %></span><span>going</span>
            <% end %>
          </div>
        <% end %>
      </td>
      <td class="host">
        <% if workshop.host %>
          <%= render :partial => 'users/thumbnail', :locals => {:user => workshop.host, :span => 2} %>
        <% end %>
      </td>
    </tr>
    <% if show_image %>
      <tr>
        <td colspan="4" class="image workshop_img"><img src="<%= workshop.img_src(:larger) %>" class="img-rounded"></td>
      </tr>
    <% end %>
  </tbody>
</table>
