<h1>Edit workshop details</h1>

<div class="span6 row">
  <%= render 'form', :show_description => true %>
</div>
<div class="span8">
  <ul class="nav nav-tabs margin0">
    <button class="btn btn-success pull-right" id="add_rerun_button"><i class="icon icon-plus"></i>Add</button>
    <li class="active"><a href="#future" data-toggle="tab"><span id='future_reruns_count'><%= @future_reruns.count %></span> scheduled</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane active" id="future_reruns">
      <% if @future_reruns.count == 0 %>
        No future workshops.
      <% else %>
        <%= render 'reruns/index', :reruns => @future_reruns, :click_to_show => false, :show_icons => true %>
      <% end %>
    </div>
  </div>
</div>
<% body_script do -%>
  <%= render :partial => 'meetings/init_datepair_picker', :formats => [:js] %>

  function hide_vc_editable_popovers(_this) {
    $('td.vc_editable').not(_this).popover('hide');    
  };

  function editablize_meetings() {
    $('.editable[data-name="max_attendees"]').editable();
    $('.editable[data-name="default_venue_uuid"]').editable();
    $('.editable[data-name="price"]').editable({display: editable_currency_display});

    $('td.vc_editable').popover({
      html: true, 
      placement: 'top',
      container: 'body', 
      title: 'Workshop Time', 
      content: function() {
        var data_span = $(this).closest('tr').find("td:nth-child(2) span");
        return HandlebarsTemplates['datetime/range_form']({
          auth_token: auth_token(),
          uuid: data_span.data('uuid'),
          start_time_date: data_span.data('start_time_date'),
          start_time_time: data_span.data('start_time_time'),
          end_time_date: data_span.data('end_time_date'),
          end_time_time: data_span.data('end_time_time')
        });
      }
    }).on('shown', function() {
      hide_vc_editable_popovers(this);
      init_datetime_picker(); 
    });
  };
<% end %>

<% ready_script do -%>
  editablize_meetings();
  
  $(document).on('shown', '.editable', function(e, editable) {
    hide_vc_editable_popovers(this);
  });
  
  $(document).on('click', "#edit_meeting button.editable-cancel", function(e) {
    e.stopPropagation();
    e.preventDefault();
    hide_vc_editable_popovers(this);
  });
  
  $("#add_rerun_button").click(function(e) {
    $.post("<%= auto_add_rerun_path(@workshop) %>", function(data, textStatus, jqXHR) {
      $("#future_reruns").load("<%= reruns_partial_path(@workshop) %>", function(responseText, textStatus, XMLHttpRequest) {
        editablize_meetings();
      });
    });
  });
  
  $(document).on('ajax:success', '#edit_meeting', function(event, data, status, xhr) {
    hide_vc_editable_popovers(this);
    $("#future_reruns").load("<%= reruns_partial_path(@workshop) %>", function(responseText, textStatus, XMLHttpRequest) {
      editablize_meetings();
    });
  });
  
  $(document).keydown(function(e){
    if (e.keyCode === 27)
      hide_vc_editable_popovers(this);
  });
<% end -%>
