<div class="span12">
  <h1>Edit workshop details</h1>
  <%= render 'form', :show_description => true %>
</div>
<div class="span12">
  <ul class="nav nav-tabs margin0">
    <li class="active"><a href="#future_reruns" data-toggle="tab">Coming Up (<span id='future_reruns_count'><%= @future_reruns.count %></span>)</a></li>
    <li><a href="#past_reruns" data-toggle="tab">Past (<span id='past_reruns_count'><%= @past_reruns.count %></span>)</a></li>
    <button class="btn btn-success" id="add_rerun_button" style="margin: 4px 6px"><i class="icon icon-plus"></i>Add</button>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane active" id="future_reruns">
      <% if @future_reruns.count == 0 %>
        No future workshops.
      <% else %>
        <%= render 'reruns/index', :reruns => @future_reruns, :click_to_show => false, :show_icons => true, :editable => true %>
      <% end %>
    </div>
    <div class="tab-pane" id="past_reruns">
      <% if @past_reruns.count == 0 %>
        No past workshops.
      <% else %>
        <%= render 'reruns/index', :reruns => @past_reruns, :click_to_show => false, :show_icons => true, :editable => false %>
      <% end %>
    </div>
  </div>
</div>
<% body_script do -%>
  <%= render :partial => 'meetings/init_datepair_picker', :formats => [:js] %>

  function hide_vc_editable_popovers(_this) {
    $('span.vc_editable').not(_this).popover('hide');    
  };

  function editablize_meetings() {
    $('.editable[data-name="max_attendees"]').editable();
    $('.editable[data-name="default_venue_uuid"]').editable();
    $('.editable[data-name="price"]').editable({display: editable_currency_display});

    $('span.vc_editable.meeting_time').popover({
      html: true, 
      placement: 'top',
      container: 'body', 
      title: 'Workshop Time', 
      content: function() {
        var data_span = $(this).find("span:nth-child(2)");
        return HandlebarsTemplates['datetime/range_form']({
          auth_token: auth_token(),
          uuid: data_span.data('uuid'),
          start_time_date: data_span.data('start_time_date'),
          start_time_time: data_span.data('start_time_time'),
          end_time_date: data_span.data('end_time_date'),
          end_time_time: data_span.data('end_time_time')
        });
      }
    }).on('shown', function() {
      hide_vc_editable_popovers(this);
      init_datetime_picker(); 
    });
    
    $('span.vc_editable.venue').popover({
      html: true, 
      placement: 'top',
      container: 'body', 
      trigger: 'manual',
      title: 'Add New Venue', 
      content: function() {
        var meeting_uuid = $(this).closest("tr").data("meeting_uuid");
        return HandlebarsTemplates['venues/add_new']({
          auth_token: auth_token(),
          meeting_uuid: meeting_uuid
        });
      }
    }).on('shown', function() {
      hide_vc_editable_popovers(this);
      $("#venue_name").focus();
    });
    
    var vc_highlighter = function() {};
  };
<% end %>

<% ready_script do -%>
  editablize_meetings();
  
  $(document).on('shown', '.editable', function(e, editable) {
    hide_vc_editable_popovers(this);
  });
  
  $(document).on('click', "button.editable-cancel", function(e) {
    e.stopPropagation();
    e.preventDefault();
    hide_vc_editable_popovers(this);
  });
  
  $("#add_rerun_button").click(function(e) {
    $.post("<%= auto_add_rerun_path(@workshop) %>", function(data, textStatus, jqXHR) {
      $("#future_reruns").load("<%= reruns_partial_path(@workshop) %>", function(responseText, textStatus, XMLHttpRequest) {
        editablize_meetings();
        $("#future_reruns tbody tr:last-child td").highlight();
      });
    });
  });
  
  $(document).on('ajax:beforeSend', '#edit_meeting', function(event, xhr, settings) {
    var uuid = $(this).data('meeting_uuid');
    vc_highlighter = function() {
      $('tr[data-meeting_uuid="' + uuid + '"] span.vc_editable.meeting_time').highlight();
    };
  });
  
  $(document).on('ajax:beforeSend', '#new_venue', function(event, xhr, settings) {
    var uuid = $(this).data('meeting_uuid');
    vc_highlighter = function() {
      $('tr[data-meeting_uuid="' + uuid + '"] span.vc_editable.venue').highlight();
    };
  });
  
  $(document).on('ajax:success', '#edit_meeting, a.delete_rerun', function(event, data, status, xhr) {
    hide_vc_editable_popovers(this);
    $("#future_reruns").load("<%= reruns_partial_path(@workshop) %>", function(responseText, textStatus, XMLHttpRequest) {
      editablize_meetings();
      vc_highlighter();
    });
  }).on('ajax:error', function(event, data, status, xhr) {
    hide_vc_editable_popovers(this);
  });

  $(document).on('ajax:success', 'a.lock_toggle', function(event, data, status, xhr) {
    var row = $(this).closest('tr');
    row.replaceWith(data);
    editablize_meetings();
  });
  
  $(document).on('ajax:success', '#new_venue', function(event, data, status, xhr) {
    hide_vc_editable_popovers(this);
    $("#future_reruns").load("<%= reruns_partial_path(@workshop, :clear_source_cache => true) %>", function(responseText, textStatus, XMLHttpRequest) {
      editablize_meetings();
      vc_highlighter();
    });
  });
  
  $(document).keydown(function(e){
    if (e.keyCode === 27)
      hide_vc_editable_popovers(this);
  });
  
  $(document).on('change', "td span.venue form select", function() {
    if ($(this).val() === "Add new venue...") {
      var venue_span = $(this).closest("td span.venue");
      venue_span.find("span.editable").editable('hide');
      venue_span.popover('show');
    }
  });
<% end -%>
