<div class="row">
  <div class="col-md-9">
    <span class="panel pull-right">
      <%= iconic_link_to 'Manage', manage_workshop_path(@workshop), :icon => 'group', :class => 'btn btn-default' %>
      <% if admin_session? %>
        <%= iconic_link_to 'Delete', @workshop, confirm: 'Really delete workshop?', method: :delete, class: 'btn btn-danger', title: 'delete workshop' %>
      <% end %>
    </span>
    <h2 class="text-muted margin0">Edit Workshop</h2>
  </div>
</div>
<div class="row">
<div class="col-md-12">
  <%= render 'form' %>
</div>

<% unless @workshop.external? %>
<div class="col-md-12">
<% if false %>
  <dl>
    <dt><h3>Listing</h3></dt>
    <dd>
      <ul class="media-list">
        <div class="day_chunk">
          <%= render 'workshops/show_in_index', :show_date => true %>
        </div>
      </ul>
    </dd>

    <dt><h3>Signup</h3></dt>
    <dd>
      from workshop page: <%= workshop_title(@workshop, :linked_to => true) %>
    </dd>
<% end %>
    <dt>
      <h3>Confirmation Email</h3>
      <p class="text-muted">Sends when people sign up.</p>
    </dt>
    <dd>
      <div class="row">
        <div class="col-md-4">
          <%= render 'workshops/greeting_message_form', :remote => true, :auto_submit => true, :span => 'col-md-4' %>
        </div>
        <div class="col-md-6">
          <p>
            Consider personalizing this message with:
            <ul>
              <li>a friendly introduction</li>
              <li>best ways to contact you</li>
              <li>directions to your space</li>
              <li>anything participants should bring</li>
            </ul>
          </p>
          <p>
            <strong>Your contact info will be added in a footer with the workshop's location and starting time.</strong>
          </p>
        </div>
      </div>
    </dd>

    <dt>
      <h3>Warm Up Email (optional)</h3>
      <p class="text-muted">Sends two days before workshop.</p>
    </dt>
    <dd>
      <div class="row">
        <div class="col-md-4">
          <%= render 'workshops/warmup_message_form', :remote => true, :auto_submit => true, :span => 'col-md-4' %>
        </div>
        <div class="col-md-6">
          <p>
            Warm people up with an optional email sent two days before the workshop. 
          <p>
            <strong>Your contact info will be added in a footer with the workshop's location and starting time.</strong>
          </p>
        </div>
      </div>
    </dd>

    <dt>
      <h3>Reminder Text Message (optional)</h3>
      <p class="text-muted">Sends 3+ hours before workshop.</p>
    </dt>
    <dd>
      <div class="row">
        <div class="col-md-4">
          <%= render 'workshops/reminder_form', :remote => true, :auto_submit => true, :span => 'col-md-4' %>
        </div>
        <div class="col-md-6">
          <p>
            Sends a text message to participants 3 hours before the workshop. Be sure to include your phone number if you'd like them to be able to contact you. Some participants aren’t signed up for phone alerts, but those who are appreciate the reminder. 
          </p>
            <strong>If the workshop begins before noon, participants will get this message the night before at 8:00pm.</strong>
        </div>
      </div>
    </dd>

  </dl>
</div>
</div>
<% end %>

<% body_script do -%>
  // auto-submit form when any field is changed
  $('form.edit_workshop :input').not("#workshop_image").change(function(){
    show_bootstrap_alert({text: "Updating workshop...", type: 'success'});
    $(this).closest('form').submit();
  });
<% end %>

<% ready_script do -%>

  $(document).on('change.bs.fileinput', function() {
    $('#add_rerun_button').popover('show');
  }).on('clear.bs.fileinput', function() {
    $('#add_rerun_button').popover('show');
  });

<% end -%>