
<div class="row">
  <div class="col-md-12">
    <span class="pull-right">
      <%= iconic_link_to 'View', workshop_path(@workshop), :icon => 'calendar-o', :class => 'btn btn-default' %>
      <%= iconic_link_to 'Edit', edit_workshop_path(@workshop), :icon => 'pencil', :class => 'btn btn-default' %>
    </span>
    <h4 class="text-muted margin0">Manage</h4>
    <h2 class="margin_top0"><%= @workshop.title %></h2>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <%= image_tag(@workshop.img_src(:large), :class => "img-rounded large_page_thumb full-width") %>  
  </div>
  <div class="col-md-6" style="height: 200px; overflow-y: scroll;">
    <p class="event_description clearfix">
      <%= BlueCloth.new(@workshop.description, :filter_html).to_html.html_safe %>
    </p>
  </div>  
</div>
<div class="well">
  <h3>Message All Attendees</h3>
  <p class="text-danger">Send a message to everyone who has ever attended.</p>
  <ul class="nav nav-pills margin0">
    <li class="active"><a href="#compose_sms" data-toggle="tab">Short message</a></li>
    <li><a href="#compose_email" data-toggle="tab">Long message</a></li>
  </ul>
  <div class="tab-content">
    <div class='tab-pane active' id='compose_sms'>
      <%= render 'reruns/message_attendees', :rerun => @workshop, :url => sms_attendees_workshop_path(@workshop) %>
    </div>
    <div class='tab-pane' id='compose_email'>
      <%= render 'messages/form', :message => Message.new(:apropos => @workshop) %>
    </div>
  </div>
</div>
<div class="col-md-12">
  <ul class="nav nav-tabs margin0">
    <li class="active"><a href="#reruns" data-toggle="tab">Reruns</a></li>
    <li><a href="#attendees" data-toggle="tab">Attendees</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane active" id="reruns">
      <% if @workshop.events.count == 0 %>
        None.
      <% else %>
        <%= render 'reruns/index', :reruns => @workshop.events.ordered_by_first_meeting_start_time.reverse_order, :click_to_show => false, :show_icons => false, :show_manage_buttons => true %>
      <% end %>
    </div>
    <div class="tab-pane" id="attendees">
      <table class="table table-bordered table-striped" id='event_attendees'>
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>

        <tbody>
          <% @attendees.each do |user| -%>
            <%= render 'users/row', :user => user, :apropos => @workshop %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= render 'messages/modal_new', :message => Message.new, :to => :one_person %>


<% ready_script do -%>
  <% if user_signed_in? %>
    $('#event_attendees a.message_user').on('click', function(e) {
    $('#new_message_modal .modal-header-content').html($(this).data('modal-header-content'));
    $('#new_message_modal #message__to_user_uuid').attr('value', $(this).data('id'));
    $('#new_message_modal').modal('show');
    e.preventDefault();
    });
  <% end %>
  $(document).on('ajax:success', '#new_message_modal form', function(e, data, status, xhr) {
    $("#new_message_modal").modal('hide');
    show_bootstrap_alert({text: "Your message has been sent.", type: 'success'});
  });
<% end -%>