<div class="row">
  <%= iconic_link_to 'New Series', '#', 
      :icon => 'plus', 
      :title => 'create a new workshop series (not a re-scheduling of one you have hosted before)',  
      :class => 'btn btn-default pull-right', 
      :id => 'new_workshop_btn' %>
</div>
<div>
  <% if @workshops.blank? %>
    No workshops.
  <% else %>
    <%# TODO: last rerun (if any) + all future reruns %>
    <%= render 'index', :workshops => @workshops %>
  <% end %>
</div>

<div id="new_series_modal" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Series</h4>
      </div>
      <%= simple_form_for(Workshop.new, url: workshops_path) do |f| %>
        <div class="modal-body">
          <p>Start a completely new series of workshops.</p>
          <%= f.input :title, value: '' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">OK</button>
        </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<% ready_script do -%>
  $(document).on('click', 'a.show_all_reruns', function(e) {
    e.preventDefault();
    var workshop_uuid = $(this).closest('div.reruns').data("workshop-uuid");
    var _this = $(this);
    $.get("<%= events_path %>" + "?workshop_uuid=" + workshop_uuid, function( data ) {
      console.log(data);
      _this.closest('div.reruns').html( data );
    });
  });
  
  $("#new_workshop_btn").on('click', function(e) {
    e.preventDefault();
    $("#new_series_modal").modal();
  });
  
  $(document).on('ajax:success', 'a.lock_toggle', function(event, data, status, xhr) {
    var new_button = $(data);
    new_button.addClass('btn-xs');
    $(this).replaceWith(new_button);
  });
  $(document).on('ajax:success', 'a.delete_rerun', function(event, data, status, xhr) {
    var rerun_row = $(this).closest(".row");
    rerun_row.remove();
  });  
  $(document).on('ajax:success', 'a.auto_add_rerun', function(event, data, status, xhr) {
    var reruns_div = $(this).prev();
    var new_row = $(data);
    reruns_div.find(".none_scheduled").remove();
    reruns_div.append(new_row);
    new_row.highlight();
  });

<% end %>
