<%
  next_rerun = @workshop.ongoing_or_next_rerun
  content_for(:title, seod_title(@workshop))
  message = Message.new(:to_user => @workshop.host, :apropos => @workshop)
%>
<div class="row">
  <div class="col-sm-3">
    <p>
      <%= link_to image_tag(@workshop.img_src(:large), :class => "img-rounded large_page_thumb full_width hidden-xs"), @workshop.img_src(:xlarge_orig), 
                  data: {toggle: 'lightbox', gallery: "multiimages", title: @workshop.title, parent: '.container'} %>
    </p>
    <p><%= render 'events/smart_attend_btn', :event => next_rerun, :block_buttonize => true %></p>
    <% if user_signed_in? and current_user.can_review?(@workshop) %>
      <p><button class="btn btn-warning btn-block" data-toggle="modal" data-target="#modal-add-review">Add review</button></p>
    <% end %>
    
    <% if @images.count > 0 %>
      <%= render 'images/gallery', images_per_row: 1, thumb_size: :large, extra_img_classes: 'full_width img-rounded hidden-xs' %>
    <% end %>
  </div>
  <div class="col-sm-6">
    <h1 class="margin_top0"><%= @workshop.title %></h1>
    <div class="row">
      <div class="col-sm-4">
        <% if next_rerun %>
          <div class="blocky_spns">
            <%= meeting_time(next_rerun.first_meeting, :short_date => true, :no_tz => true, :show_livestamp => true, :show_end_time => false) %>
          </div>
        <% else %>
          <span class="text-muted">no upcoming dates</span>
        <% end %>
      </div>
      <div class="col-sm-4 col-sm-3">
        <p>
          <%= render('reruns/location', :rerun => next_rerun) if next_rerun %>
        </p>
      </div>

      <div class="col-sm-4">
        <%= render 'reruns/price_full_or_spots_left', :rerun => next_rerun %>
      </div>

    </div>
    
    <p class="event_description clearfix">
      <%= BlueCloth.new(@workshop.description, :filter_html).to_html.html_safe %>
    </p>
    
    <ul class="nav nav-tabs margin0">
      <li class="active"><a href="#future" data-toggle="tab">Coming Up (<%= @future_reruns.count %>)</a></li>
      <li><a href="#past" data-toggle="tab">Past (<%= @past_reruns.count %>)</a></li>
      <!--<li><a href="#reviews" data-toggle="tab">Reviews (<%= @reviews.count %>)</a></li>-->
    </ul>

    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active" id="future">
        <% if @future_reruns.count == 0 %>
          No future workshops.
        <% else %>
          <%= render 'reruns/index', :reruns => @future_reruns, :click_to_show => false, :hide_flags => true %>
        <% end %>
      </div>
      <div class="tab-pane fade" id="past">
        <% if @past_reruns.count == 0 %>
          No past workshops.
        <% else %>
          <%= render 'reruns/index', :reruns => @past_reruns, :click_to_show => false, :hide_flags => true %>
        <% end %>
      </div>
    </div>

    <% if @reviews_recent.count > 0 %>
      <h3>Reviews</h3>
      <% if @reviews_recent.count > 3 %>
        <!--most recent reviews-->
        <div class="row-fluid reviews">
          <div class="thumbnail-review-title">Most recent reviews</div>
          <%= render 'reviews/index', :reviews => @reviews_recent %>
        </div>

        <!--highest rated reviews-->
        <div class="row-fluid reviews">
          <div class="thumbnail-review-title">Highest rated reviews</div>
          <%= render 'reviews/index', :reviews => @reviews_rating %>
        </div>
      <% else %>
        <div class="row-fluid">
          <%= render 'reviews/index', :reviews => @reviews_recent %>
        </div>        
      <% end %>
    <% end %>
    
  </div>
  <div class="col-sm-3 side_content">
    <%= render 'events/smart_attend_btn', :event => next_rerun, :block_buttonize => true %>
    
    <h4 class="text-muted">Host</h4>
    <div id='host_mini_profile'>
      <%= render 'users/mini_profile', :user => @workshop.host, :apropos => @workshop %>      
    </div>
    
    <% if can? :manage, @workshop %>
    <div class="well host-only">
      <%= iconic_link_to 'Edit', edit_workshop_path(@workshop), class: 'btn btn-default btn-xs', title: 'edit' %>
      <%= iconic_link_to 'Manage', manage_workshop_path(@workshop), class: 'btn btn-default btn-xs', title: 'manage' , icon: 'group' %>
      <%= render 'workshops/upload_photo_button' %>
      <% ready_script do -%>
        $('.fileinput').fileinput();
      <% end %>
    </div>
    <% end %>
    
    <h4 class="text-muted">People</h4>
    <%= render 'reruns/attendees_pseudo_feed', :rerun => next_rerun, :sign_up_msg => 'signed up' %>
  </div>
</div>
<!-- Add Review Modal -->
<%= render 'reviews/add_review_modal', :review => @review, :past_reruns => @past_reruns %>

<!-- Show More Review Modal -->
<%= render 'reviews/more_modal', :review => @review %>

<!-- Show New Message Modal -->
<%= render 'messages/modal_new', :message => message %>
<% ready_script do -%>
  $('#host_mini_profile a.message_user').on('click', function(e) {
    $("#new_message_modal").modal('show');
    e.preventDefault();
  });
  
  $(document).on('ajax:success', '#new_message_modal form', function(e, data, status, xhr) {
    $("#new_message_modal").modal('hide');
    show_bootstrap_alert({text: "Your message has been sent.  The host will reply to you by email.", type: 'success'});
  });  
  
<% end -%>
