<% 
   message ||= @message
   apropos ||= nil
%>
<%= simple_form_for(message) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :subject, label: 'Subject', input_html: {class: 'span4'} %>
    <%= f.input :body, label: 'Body', input_html: {rows: 4, class: 'span4'} %>
  </div>
  
  <% if apropos %>
    <%= f.hidden_field :_apropos_uuid, :value => apropos.uuid %>
    <%= f.hidden_field :apropos_type, :value => apropos.class.to_s %>
  <% end %>
  
  <%= f.button :submit, 'Send', :class => "btn-default" %> <span class="muted">by email</span>
<% end %>
