<% 
   message ||= @message
   remote ||= false
   auto_submit ||= false
   id = "edit_message_#{UUIDTools::UUID.random_create.to_s}"
   hidden_subject ||= false
   options = remote ? {:remote => remote, :html => {:'data-type' => 'json', :id => id}} : {}
%>
<%= simple_form_for(message, options) do |f| %>
  <%= f.error_notification %>

  <% unless message.errors[:base].blank? %>
    <div class="alert alert-error"><%= f.error :base %></div>
  <% end %>
  
  <% if hidden_subject %>
    <%= f.hidden_field :subject %>
  <% else %>
    <%= f.input :subject, label: 'Subject' %>
  <% end %>
  <%= f.input :body, label: 'Body', input_html: {rows: 8} %>

  <%= f.hidden_field :_to_user_uuid %>
  <%= f.hidden_field :_apropos_uuid %>
  <%= f.hidden_field :apropos_type, :value => message.apropos_type %>

  <div class="form-group">
    <% if auto_submit %>
      <i id="spinner_for_<%= id %>" class="fa fa-spinner fa-spin icon-large initially_hidden"></i>
    <% else %>
      <%= f.submit 'Send', :class => "btn btn-default" %> <span class="text-muted">by email</span>
    <% end %>
  </div>
<% end %>

<% if auto_submit %>
  <% ready_script do -%>
    $('#<%= id %> :input').change(function(){
      $('#spinner_for_<%= id %>').css('display', 'block');
      $(this).closest('form').submit();
    });
    $('#<%= id %>').bind("ajax:success", function(evt, data, status, xhr){
      setTimeout(function() {
        $('#spinner_for_<%= id %>').hide();
      }, 500);
    })
  <% end -%>
<% end %>
