<% message ||= @message %>
<span class="pull-right text-muted">sent <%= time_ago(message.created_at) %></span>
<dl class="dl-horizontal">
  <dt>From</dt>
  <dd><%= contextualized_user_link message.from_user %></dd>
  
  <dt>To</dt>
  <dd><%= message_recipients(message) %></dd>

  <% if message.apropos %>
  <dt>About</dt>
  <dd><%= link_to message.apropos.title, message.apropos %></dd>
  <% end %>

  <dt>Subject</dt>
  <dd><%= message.subject %></dd>

  <dt>Body</dt>
  <dd>
    <% if @message.system_message? %>
      <%= BlueCloth.new(@message.body, :filter_html).to_html.html_safe %>
    <% else %>
      <%= simple_format(@message.body) %>
    <% end %>
  </dd>
</dl>