<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <%= f.input :email %>
  <%= f.input :name, label: 'Name' %>
  <%= f.input :phone, label: 'Phone Number' %>
  <div style="color:#ccc;margin-left:210px;position:relative;top:-20px;">for last minute changes</div>
  <%# f.input :city, label: 'City' %>
  <%# f.input :state, collection: Location.us_states_select_collection, label: 'State' %>
  <%# f.input :password, required: true %>

  	<%= f.submit "Lets do it", class: "btn btn-primary modal-letsdoit" %>
    <%# render :partial => "devise/shared/links", :locals => {:show_sign_up => true} %>  	 
<% end %>  
