<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <%= f.input :email %>
  <%= f.input :name, label: 'Name' %>
  <%= f.input :phone, label: 'Mobile Number' %>
  <%# f.input :city, label: 'City' %>
  <%# f.input :state, collection: Location.us_states_select_collection, label: 'State' %>
  <%# f.input :password, required: true %>

  <div class="form-actions">
  	<%= f.submit "Sign up", class: "btn btn-primary" %>
    <%= render :partial => "devise/shared/links", :locals => {:show_sign_up => true} %>  	 
  </div>
<% end %>  
