<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <%= f.input :email %>
  <%= f.input :first_name, label: 'First Name' %>
  <%= f.input :last_name, label: 'Last Name' %>
  <%= f.input :city, label: 'City' %>
  <%= f.input :state, collection: Location.us_states_select_collection, label: 'State' %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <div class="form-actions">
  	<%= f.submit "Sign up", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
