Hi <%= @user.name %>,

<p>You are confirmed to attend <strong><%= @event.title %></strong>, hosted by <strong><%= @event.host.name %></strong>.</p>

<h3>When</h3>
<p><%= render :partial => 'events/times', :locals => {:event => @event, :short_date => true, :no_tz => true} %></p>

<h3>Where</h3>
<p><%= @event.venue.blank? ? 'TBD' : @event.location.address %></p>

<h3>Host</h3>

<p>
  <strong><%= @event.host.name %></strong><br/>
  <address>
    <strong>email</strong>: <%= @event.host.email %><br/>
    <strong>mobile</strong> #: <%= user_phone(@event.host) %> 
  </address>
</p>
<br/>
<br/>
<br/>
<hr>
