<% if @message %>
<p>
  Message from <%= contextualized_user_link(@message.from_user, :only_path => false) %> about <%= link_to @event.workshop.title, @event.workshop, :only_path => false %>.
</p>
<p>
  <%= @message.body %>
</p>
<p>
  <strong><%= contextualized_user_link(@message.from_user, :only_path => false) %></strong><br/>
  <strong>email</strong>: <%= @message.from_user.email %><br/>
  <strong>mobile#</strong>: <%= user_phone(@message.from_user) %>
</p>
<% else %>
<p>
<%= render_activity(@notification.activity, 
                    :plaintext => false, 
                    :show_trackable => true, 
                    :viewer => @notification.user, 
                    :profile_image_size => :none, 
                    :only_path => false,
                    :show_ago => false) %>
</p>
<% if @change %>
  <h3>When and Where (updated)</h3>
  <p>
    <%= render :partial => 'reruns/meeting_times_list', 
               :locals => {:rerun => @event, :include_venue => true, :include_location => true, :br_on => true, :full_path => true} %>
  </p>
  <h3>Host</h3>
  <p>
    <strong><%= @event.host.name %></strong><br/>
    <strong>email</strong>: <%= @event.host.email %><br/>
    <strong>mobile#</strong>: <%= user_phone(@event.host) %> 
  </p>
  <p>
    Sorry for any inconvenience this change may have caused.
  </p>  
<% end %>
<% end %>
