<li class="comment">
  <div class="media">
    <a class="pull-left" href="#">
      <%= user_thumb(comment.user, {:size => :small, :linked => true, :class => "media-object img-rounded"}) %>
    </a>
  </div>
  <div class="all-text">
    <blockquote class="quote">
      <p><%= comment.body %></p>
    </blockquote>
    <p class="comment-username">By <%= comment.user.name if comment.user %>
    <%= time_ago_in_words(comment.created_at) %> ago</p>  
  
    <% unless comment.commentable.is_a? Comment %>
    <p>
      <a class="open-reply-form" href="#">Reply</a>
    </p>
    <%= simple_form_for(:comment, url: comments_path, method: :post, html: {:remote => true, :style => "display: none;"}) do |f| %>
      <%= f.hidden_field :commentable_type, value: comment.class.to_s %>
      <%= f.hidden_field :commentable_uuid, value: comment.uuid %>
      <%= f.input :body, label: false, placeholder: "Reply..." %>
      <%= f.button :submit, "Reply", class: "btn btn-primary" %>
    <% end %>
  </div>
  
    <% unless comment.comments.empty? %>
      <ul class="replies">
        <%= render :partial => 'comments/comment', :collection => comment.comments %>
      </ul>
    <% end %> 
  <% end %>
</li>
