
<p>COMMENTS</p>
    <ul>
      <% @comments.each do |comment|%>
        <li>
          # <p><%= comment.body %></p>
          <p>By <%= comment.user.email -%>
          <%= time_ago_in_words(comment.created_at) -%> ago</p>
          <div class="actions">
            <div class="comment">
              <!-- reply -->
              <%= link_to "Reply", event_path(@event, :parent_id => comment) %>
            </div>
            
          </div>
          <div class="comment-list">
            <!-- @parent.comments -->
            <%#= nested_comments @comments %>
            <%= nested_comments comment.children %>
          </div>   
        </li><br></br>
          <div style="display:none">
          <%#= form_for [@parent, @comment = Comment.new] do |f| %>
            <%#= f.hidden_field :commentable_id, value: @comment.id %>
          <%= form_for [@commentable, @comment] do |f| %>
            <%= f.hidden_field :parent_id, :value => params[:parent_id] %>         
            <%= f.text_field :body, placeholder: "Add your comment" %><br></br>
            <%= f.submit "Reply" %><br></br>
          <% end %>          
          </div>
        </li>
      <% end %>
    </ul>
  
