<div class="venue-popover-content">
    <div>
        <div class="venue_address">
            <div id="venue-address1">{{street}}</div>
            <div id="venue-address2">{{city}}, {{zip}} {{state}}</div>
        </div>
        <div class="editable-buttons pencil">
            <button type="button" class="btn btn-default btn-sm editable-cancel" onclick="window.location.href='{{edit_venue_url}}'" >
                <i class="glyphicon glyphicon-pencil"></i>
            </button>
        </div>
    </div>
    <div class="editable-error-block help-block" style="display: none;"></div>
</div>