<%= simple_form_for(@user, :url => controller.is_a?(Admin::UsersController) ? "/admin/users" : @user, :defaults => { :input_html => { :class => 'input-xxlarge' } }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label :photo %><br />
    <%= render :partial => 'images/fancy_jansy_upload', 
               :locals => {:f => f, :img_field_name => :profile_image, 
                           :size => :large, :img_url => @user.profile_img_src(:large), :crop => true} %>

    <%= f.input :name, label: 'Name' %>
    <% if admin_session? %>
      <%= f.input :email, label: 'Email' %>
    <% end %>
    <% if @user.host? %>
      <%= f.input :description, as: :text, input_html: {:rows => "6", :'data-provide' => "markdown"} %>
    <% end %>
    <%= f.input :city, label: 'City' %>
    <%= f.input :state, collection: Location.us_states_select_collection, label: 'State' %>
    
    <% if admin_session? %>
    <div class="well">
      <h4 class="admin_color margin_top0">Admin-only Area</h4>
      <div class="control-group">
        <%= f.input :host, inline_label: 'Host', label: false %>
        <%= f.input :external, inline_label: 'External User', label: false %>
      </div>
    </div>
    <% end %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn-primary" %>
  </div>
<% end %>
<%= link_to "Change Password or Email", edit_user_registration_path %>

<%= render :partial => 'shared/markdown_a_la_carte' %>
