<%= simple_form_for(@user, :url => controller.is_a?(Admin::UsersController) ? "/admin/users" : @user, :defaults => { :input_html => { :class => 'input-xxlarge' } }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <div class="fileinput fileinput-new" data-provides="fileinput">
      <%= f.label :photo %><br />
      <div class="fileinput-preview control-group" data-trigger="fileinput" data-orig-img-url="<%= @user.profile_img_src(:large) %>">      
        <%= image_tag @user.profile_img_src(:large), :class => "img-rounded" %>
      </div>
      <div class="control-group">
        <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><%= f.file_field :profile_image %></span>
        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
      </div>
    </div>

    <%= f.input :name, label: 'Name' %>
    <% if admin_session? %>
      <%= f.input :email, label: 'Email' %>
    <% end %>
    <%= f.input :phone, label: 'Mobile Number' %>
    <%= f.input :city, label: 'City' %>
    <%= f.input :state, collection: Location.us_states_select_collection, label: 'State' %>
    
    <% if admin_session? %>
    <div class="well">
      <h4 class="admin_color margin_top0">Admin-only Area</h4>
      <div class="control-group">
        <%= f.input :host, inline_label: 'Host', label: false %>
        <%= f.input :external, inline_label: 'External User', label: false %>
      </div>
    </div>
    <% end %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn-primary" %>
  </div>
<% end %>
<%= link_to "Change Password or Email", edit_user_registration_path %>
<%= ready_script do -%>
  // Use Jansy's fileinput extensions and some home-brewed CSS magic to preview what the image will look like cropped
  $('.fileinput').fileinput().on('change.bs.fileinput', function() {
    var img = $(this).find("img"),
        frame = img.parent();
    frame.css("background-color", "none");
    frame.css("background-image", "url(" + img.attr('src') + ")");
    img.hide();
  }).on('clear.bs.fileinput', function() {
    var frame = $(this).find(".fileinput-preview");
    frame.css("background-image", "url(" + frame.data('orig-img-url') + ")");
  });
  
<% end -%>
