<% if admin_session? and @user != current_user %>
  <h1 class='admin_color'><i class='fa fa-gear'></i> Settings for <%= @user.name %></h1>
<% else %>
  <h1><i class='fa fa-gear'></i> Settings</h1>
<% end %>
<%= simple_form_for(@user, :url => update_settings_path(@user), :html => { :method => :put, class: "form-horizontal" }) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-sm-12">
      <h3>Contact Information</h3>
      <div class="col-sm-6">
          <%= f.input :phone, label: 'Mobile Phone', :hint => 'used for SMS notifications (e.g. last-minute changes)' %>
          <%= f.input :email, label: 'Email', :hint => link_to('change your email address', edit_user_registration_path), :input_html => {:disabled => true} %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h3>Short Messages</h3>
      <p class="help-block">Where would you like to receive short messages from workshop hosts?  Example: "Workshop has been moved to the park across the street!"</p>
      <div class="col-sm-6">
        <ul>
          <div class="form-group">
            <label class="checkbox controls">
              <%= f.input_field :sms_short_messages, as: :boolean, boolean_style: :inline %> SMS to my mobile phone
            </label>      
            <label class="checkbox controls">
              <%= f.input_field :email_short_messages, as: :boolean, boolean_style: :inline %> Send to email
            </label>      
          </div>
        </ul>
      </div>
    </div>
  </div>

  <h3 id="newsletters">Newsletters</h3>
  <div class="row">
    <div class="col-sm-12">
      <p class="help-block">Newsletters and other informational email from Villagecraft</p>
      <div class="col-sm-6">
        <ul>
          <div class="form-group">
            <label class="checkbox controls">
              <%= f.input_field :email_system_messages, as: :boolean, boolean_style: :inline %> Send to email
            </label>      
          </div>
        </ul>
      </div>
    </div>
  </div>

  <h3 id="other_notifications">Other Notifications</h3>
  <div class="row">
    <div class="col-sm-12">
      <p class="help-block">Updates about events you are attending (or hosting)</p>
      <div class="col-sm-6">
        <ul>
          <div class="form-group">
            <label class="checkbox controls">
              <%= f.input_field :email_notifications, as: :boolean, boolean_style: :inline %> Send to email
            </label>      
          </div>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h3>How would you like to see distances?</h3>
      <div class="col-sm-6">
        <ul>
          <div class="form-group">
            <div class="controls">
                <%= f.input_field :preferred_distance_units, as: :radio_buttons, item_wrapper_class: :inline, collection: User::DISTANCE_UNITS %>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>

<!--   <%# if current_user.host? %>
    <div class="row ">
      <div class="col-sm-12">
        <h3>Connect With Stripe</h3>
        <div class="col-sm-6">
        <%# unless @user.stripe_token %>
          <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=<%# CLIENT_ID %>&state=<%# request.original_url %>" class="stripe-connect"><span>Connect with Stripe</span></a>
        <%# else %>
          <p>You have connected your Stripe account. Manage your Stripe settings <%# link_to("here", "https://dashboard.stripe.com/account/applications") %>.</p>
        <%# end %>
        </div>
      </div>
    </div>
    <br>
  <%# end %> -->
  
  <div class="row ">
    <div class="col-sm-12">
      <h3>Account Management</h3>
      <div class="col-sm-6">
        <%= link_to 'change password', edit_user_registration_path %> | <%= link_to 'cancel account', edit_user_registration_path(:anchor => 'cancel') %>
      </div>
    </div>
  </div>

  <br/>
  <div class="row ">
    <div class="well">
      <%= f.submit "Update settings", class: "btn btn-primary" %>
    </div>
  </div>

  <% if current_user.admin? %>
    <div class="row">
      <div class="well admin-only">
        <%= render :partial => 'admin_mode_toggle_button' %>
      </div>
    </div>
  <% end %>  
<% end %>
