<div class="page-header">
  <%= link_to new_admin_user_path, :class => 'btn btn-primary' do %>
    <i class="icon-plus icon-white"></i>
    New User
  <% end %>
  <h1>All Users</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Sign Ins</th>
      <th>Privileges</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @users.each do |user| %>
    <tr>
      <td><%= link_to annotated_user_name(user), user %></td>
      <td><%= user.email %></td>
      <td><%= user_phone(user) %></td>
      <td><%= user.sign_in_count.to_s %></td>
      <td><%= user.privileges.join(', ') %></td>
      <td>
        <% if user.fb_authenticated? %>
          <%= iconic_link_to nil, facebook_link(user), icon: 'facebook', class: 'btn btn-xs btn-primary', title: "#{user.possessable_name.possessive} Facebook page" %>
        <% end %>
      </td>
      <td>
        <%= iconic_link_to 'Edit', edit_user_path(user), class: 'btn btn-default btn-xs', title: 'edit' %>
        <%= iconic_link_to 'Delete', user, confirm: 'Are you sure?', method: :delete, class: 'btn btn-xs btn-danger', title: 'delete' %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
