<div class="page-header">
  <%= link_to new_user_path, :class => 'btn btn-primary' do %>
    <i class="icon-plus icon-white"></i>
    New User
  <% end %>
  <h1>Listing users</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Sign Ins</th>
      <th>Privileges</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user %></td>
      <td><%= user.email %></td>
      <td><%= user.sign_in_count.to_s %></td>
      <td><%= user.privileges.join(', ') %></td>
      <td>
        <%= link_to user, class: 'icon_button', title: 'view' do -%>
          <i class="icon-play"></i> 
        <% end -%>
        <%= link_to edit_user_path(user), class: 'icon_button', title: 'edit' do -%>
          <i class="icon-pencil"></i> 
        <% end -%>
        <%= link_to user, confirm: 'Are you sure?', method: :delete, class: 'icon_button', title: 'delete' do -%>
          <i class="icon-remove-circle"></i> 
        <% end %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
