<div class="page-header">
  <%= link_to users_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    View Users
  <% end %>
  <h1><%= @user.name %></h1>
  <h4><i class="user-city">Berkeley, CA</i></h4><br>
  Account was created <span data-livestamp="<%= @user.created_at %>"></span>.<br>
  Hosted <%= @user.hostings.completed.count %> events.<br>
  Attended <%= @user.confirmed_attends.completed.count %> events.<br>
  Velocity: 100   
</div>
<% if current_user === @user %>
  <%= link_to "Edit Profile", edit_user_path(:id => current_user.id) %>
<% end %>
