<div class="page-header">
  <div class="well well-small" style="float: right;">
    <dl class="dl-horizontal">
      <% if false %>
      <dt>Events Hosted</dt>
      <dd><%= @user.events.completed.count %></dd>

      <dt>Events Attended</dt>
      <dd><%= @user.attends.confirmed.completed.count %></dd>

      <dt>Velocity</dt>
      <dd><span class="badge badge-success"><%= formatted_velocity(@user) %></span></dd>
      <% end %>
      <dt>Joined Villagecraft</dt>
      <dd><%= time_ago(@user.created_at) %></dd>
      <% if @user.external? %>
        <dt>External User</dt>
      <% end %>
    </dl>  
  </div>
  <img src="<%= @user.profile_img_src %>" class="img-rounded">
  <h1><%= annotated_name(@user) %><br/>
  <% unless @user.location.blank? %>
    <small><%= city_n_state(@user.location) %></small>
  <% end %>
  </h1>
  <% if current_user === @user %>
    <%= link_to "Edit Profile", edit_user_path(current_user) %>
  <% end %>
</div>

