<div class="page-header">
  <%= link_to users_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    View Users
  <% end %>
  <h1><%= @user.name_first + " " + @user.name_last%></h1>
  <h4><i class="user-city">Berkeley, CA</i></h4><br>
  Account was created <span data-livestamp="<%= @user.created_at %>"></span>.<br>
  Hosted <%= @user.number_of_events_hosted %> events.<br>
  Attended <%= @user.number_of_events_attended %> events.<br>
  Velocity: 100   
</div>
