<div class="page-header">
  <div class="well well-small" style="float: right;">
    <dl class="dl-horizontal">
      <dt>Events Hosted</dt>
      <dd><%= @user.hostings.completed.count %></dd>

      <dt>Events Attended</dt>
      <dd><%= @user.attends.confirmed.completed.count %></dd>

      <dt>Velocity</dt>
      <dd><span class="badge badge-success"><%= @user.velocity %></span></dd>

      <dt>Joined Villagecraft</dt>
      <dd><span data-livestamp="<%= @user.created_at %>"></span></dd>
    </dl>  
  </div>
  <img src="<%= @user.profile_img_src %>" class="img-rounded">
  <h1><%= @user.name %><br/><small><%= @user.city %>, <%= @user.state %></small></h1>
  <% if current_user === @user %>
    <%= link_to "Edit Profile", edit_user_path(current_user) %>
  <% end %>
</div>

