<%= simple_form_for(@event, html: {class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  	<%= f.input :title %>
  	<%= f.input :short_title, label: 'Short Title' %>
  	<%# f.input :location %>
  	<%= f.input :min_attendees, input_html: {:min => 0} %>
  	<%= f.input :max_attendees, input_html: {:min => 0} %>
  	<%= f.input :max_observers, input_html: {:min => 0} %>
    <%= f.input :date, as: :date_select %>
    <%= f.input :start_time_time, as: :timepicker, label: 'Start Time' %>
    <%= f.input :end_time_time, as: :timepicker, label: 'End Time' %>
    <%= f.input :description, as: :text, input_html: {rows: "5"} %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
