<%= simple_form_for(@event, html: {class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  	<%= f.input :title %>
  	<%# f.input :short_title, label: 'Short Title' %>

    <%= f.input :when, label: 'When', required: true, wrapper_html: {class: 'controls-row datepair'} do %>
      <%= f.input_field :start_time_date, :as => :date_select, :class => "start date", 
          :value => l(@event.localized_start_time, format: :date_picker_date_format).strip %>
      <%= f.input_field :start_time_time, :as => :time_select, :class => "start time",
          :value => l(@event.localized_start_time, format: :time_picker_time_format).strip %> to 
      <%= f.input_field :end_time_time, :as => :time_select, :class => "end time",
          :value => l(@event.localized_end_time, format: :time_picker_time_format).strip %>
      <%= f.input_field :end_time_date, :as => :date_select, :class => "end date",
          :value => l(@event.localized_end_time, format: :date_picker_date_format).strip %>
    <% end %>
  	<%= f.association :venue, label: 'Where', collection: users_venue_options(current_user), label_method: :name, value_method: :uuid, selected: @event.venue.try(:uuid), input_html: {:class => "venues_select"} %>
  	<div class="control-group">
      <%= f.label "Event Image" %>
      <div class="controls">
        <%= image_tag @event.img_src(:larger), :class => "img-rounded" %>
        <%= f.file_field :image %><br/>
      </div>
    </div>
    
  	<%= f.hidden_field :min_attendees, input_html: {:min => 0} %>
  	<%= f.input :max_attendees, input_html: {:min => 0} %>
  	
  	<%= f.hidden_field :secret, hint: "At the event, tell attendees this secret so they can confirm their attendance.", disabled: true %>
  	
    <%= f.input :description, as: :text, input_html: {:rows => "6", :class => 'span5'} %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>

<% ready_script do -%>
  var DATEPICKER_FORMAT = "<%= t 'time.formats.php_style_time_picker_time_format' %>";
  var TIMEPICKER_FORMAT = "<%= t 'time.formats.php_style_date_picker_date_format' %>";
  var DATE_FORMAT = "<%= t 'time.formats.php_style_date_format' %>"; // for this format see http://php.net/manual/function.date.php

  <%= render :partial => 'events/init_datetime_pickers', :formats => [:js] %>
  
  $(":file").filestyle({ 
    textField: false,
    buttonText: "Choose photo",
    icon: true 
  });
  $("#event_venue_id").selectpicker({rightbutton: '+'});
  $(".bootstrap-select .rightbutton").on('click', function (e) {
    e.stopPropagation();
    e.preventDefault();
  })
  .popover({html: true, 
            container: 'body', 
            title: 'New Venue', 
            content: "<%= escape_javascript(render :partial => 'venues/form', :locals => { :remote => true, :venue => Venue.new }) %>"});
  $('body').on('ajax:success', '#new_venue', function(event, data, status, xhr) {
    $(".bootstrap-select .rightbutton").popover('hide');
    $("#event_venue_id").selectpicker('refresh');
  });
  $('body').on('click', function (e) {
    $('.bootstrap-select .rightbutton').each(function () {
      if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
        $(this).popover('hide');
      }
    });
  });
<% end -%>
