<%
   show_submit_button ||= true
   url ||= nil
   action = url || url_for(@event)
   aggr_val = true
   aggr_val = aggr if defined?(aggr) and !aggr.nil?
%>
<%= simple_form_for(@event, url: action, html: { class: 'ajax-form event-form' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs row">
    <div class="col-md-9">
      <div class="event-form-container">
      <%= f.hidden_field :aggr %>
      <%= f.input :title, label: 'Title', input_html: {class: ''}, link_top: (link_to("what kinds of events are appropriate to list", "#") if aggr_val) %>
      <%= f.input :description, as: :text, label: "Description #{content_tag(:i,'', class: "fa fa-question-circle", data: {toggle: "tooltip", placement: "right", title: "Provide more details about the event to encourage more people to come"})}".html_safe, input_html: {:rows => "6", :'data-provide' => "markdown"} %>
      <% if admin_session? and @event.external%>
        <div class="well admin-only">
          <%= f.input :external %>

          <%= f.label "External URL" %>
          <%= f.input :external_url, :wrapper => :append, label: false do %>
            <%= f.input_field :external_url %><span class="input-group-addon"><i class="fa fa-external-link"></i></span>
          <% end %>

          <%= f.input :host_id, label: 'External Host', collection: User.where(:external => true), hint: %Q(Select an external host or #{link_to('create a new one', new_admin_user_path)}.).html_safe %>
        </div>
      <% end %>
      <div class="row form-group">
        <div class="col-sm-4">
          <%= f.input :venue_uuid, label: 'Location', input_html: {class: 'col-sm-4'}, link_bottom: "place name" do %>
            <%= f.select :venue_uuid, @venues.collect{ |p| [ p.name, p.uuid, {'data-address' => p.location.address} ] }+[["Chose new place", nil, {'data-address' => ''}]], {include_blank: true} , { class: 'form-control'}  %>
            <%= f.input :venue_name, label: '&nbsp;'.html_safe %>
          <% end %>

        </div>
        <div class="col-sm-8 col-xs-nolabel">
          <%= f.input :address, label: '&nbsp;'.html_safe ,input_html: {readonly: :readonly }, link_bottom: "address"%>
        </div>
      </div>
      <div class="row form-group datepair">
        <%= f.input :when, label: 'Date & time', required: true, wrapper_html: {class: 'col-xs-12 col-sm-3'} do %>
          <%= f.input_field :start_time_date, :as => :date_select, :class => "start date form-control  col-xs-12 col-sm-3",
                            :value => l(@event.localized_start_time, format: :date_picker_date_format).strip %>
          <%= f.input_field :start_time_time, :as => :time_select, :class => "start time form-control  col-xs-12 col-sm-3",
                            :value => l(@event.localized_start_time, format: :time_picker_time_format).strip %>
        <% end %>

        <div class="col-sm-1 datepair-to">
          to
        </div>
        <%= f.input :when, label: '&nbsp;'.html_safe, required: false, wrapper_html: {class: 'col-sm-3 col-xs-12'} do %>
          <%= f.input_field :end_time_date, :as => :date_select, :class => "end date form-control col-sm-3  col-xs-12",
                            :value => l(@event.localized_end_time, format: :date_picker_date_format).strip %>
          <%= f.input_field :end_time_time, :as => :time_select, :class => "end time form-control col-sm-3  col-xs-12",
                            :value => l(@event.localized_end_time, format: :time_picker_time_format).strip %>

        <% end %>
      </div>

      <div class="row form-group">
        <div class="col-sm-4">
          <%= f.input :cost_type, collection: Event::COST_TYPE_LABEL.collect{ |k,v| [ v, k ] }, label: "Cost #{content_tag(:i,'', class: "fa fa-question-circle", data: {toggle: "tooltip", placement: "right", title: "Do you want to get paid for organizing the event?"})}".html_safe, input_html: {class: 'col-sm-4'}  %>
        </div>
        <div class="col-sm-2  col-xs-nolabel">
          <%= f.input :price, label: '&nbsp;'.html_safe, input_html: {style: 'display: none'} %>
        </div>
        <div class="col-sm-2  col-xs-nolabel">
          <%= f.input :end_price, label: '&nbsp;'.html_safe, input_html: {style: 'display: none'} %>
        </div>
      </div>

      <% unless aggr_val %>
        <%= f.input :rsvp, label: "Do you want people to RSVP? #{content_tag(:i,'', class: "fa fa-question-circle", data: {toggle: "tooltip", placement: "right", title: "Should people tell you first if they come or they should just come over?"})}".html_safe  do %>
          <%= f.input_field :rsvp,  as: :boolean, boolean_style: :inline, data: { 'off-text' => 'NO', 'on-text' => 'YES'} %>
          <div class="yes">
             <ul>
               <li>hides address until folks RSVP</li>
               <li>enables you to limit attendance</li>
               <li>enables communication tools</li>
             </ul>
            <div class="row">
              <div class='col-xs-12 col-sm-3'>
                <%= f.input :max_attendees, required: false %>
              </div>
            </div>
          </div>
          <div class="no">
            <ul>
              <li>
                location will appear publicly
              </li>
              <li>
                anyone can pop in
              </li>
            </ul>
          </div>
        <% end %>
      <% end %>

      <%= f.input :organizations, label: "Organizations involved #{content_tag(:i,'', class: "fa fa-question-circle", data: {toggle: "tooltip", placement: "right", title: "Are any local organizations involved in this event?"})}".html_safe do %>
        <div class="row">
        <div class="col-xs-10">
          <%= text_field_tag 'organizations[name]', '',class: 'string form-control', autocomplete: 'off'  %>
          <span class="help-block has-error"></span>
        </div>
        <div class="col-xs-2">
          <%= link_to  organizations_path , class: "add_organization btn btn-primary ladda-button", data: {:style => "zoom-in"} do %>
            <span class = "ladda-label">
            <i class="fa fa-plus"></i>
              </span>
          <% end %>
        </div>

        </div>
      <% end %>

      <div class="organization-container">
        <% @event.organizations.each do |organization|%>
          <%= organization_line_for_event(organization) %>
        <% end %>
      </div>

      <%= f.input :info_url, label: 'Link to more information' %>
      <% if aggr_val %>
        <%= f.input :link_to_rsvp, label: 'Link to an RSVP or tickets' %>
      <% end %>

      </div>
      <div class="multiselect-location-container">

      </div>

      <% if show_submit_button %>
        <div class="form-actions hidden">
          <%= button_tag :submit, :class => "btn btn-primary ladda-button", data: {:style => "zoom-in"} do %>
             <span class="ladda-label">
              Save
              </span>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-3">

      <%#= render :partial => 'images/fancy_jansy_upload', :locals => {:f => f, :size => :large_orig, :img_url => @event.img_src(:large_orig)} %>
      <% if sidebar_type == :new %>
        <%= render :partial => 'events/sidebar_create' %>
      <% elsif sidebar_type == :edit %>
        <%= render :partial => 'events/sidebar_edit' %>
      <% end %>
    </div>
  </div>
<% end %>
<br />


<% body_script do -%>
  <%= render :partial => 'meetings/init_datepair_picker', :formats => [:js] %>
<% end %>

<% content_for :addition do %>
  <%= javascript_include_tag 'app/events/form.js' %>
<% end %>

<div class="hidden">
  <%= link_to "", autocomplete_organizations_url, id: 'autocomplete_organizations' %>
  <%= link_to "", prompt_venues_url, id: 'prompt' %>
</div>
