<table class="table table-hover">
  <thead>
    <tr>
      <th style="width:60%;"></th>
      <th style="width:40%;"></th>
    </tr>
  </thead>

  <tbody>
  <% events.each do |event| %>
    <tr class="event_summary expandable">
      <td>
        <div class="floatright fee-accordion"><%= event_price(event, :show_materials_fee => true) %></div>
        <h4 class="margin_top0 event_title_accordion"><%= event.title %></h4>
        <div class="more muted initially_hidden"><i class="icon-sort-down"></i> <span>click to expand</span> <i class="icon-sort-down"></i></div>
      </td>
      <td>
        <%= render :partial => 'events/when_where_host_table', :locals => {:event => event} %>
      </td>
    </tr>
    <tr style="display: none;" class="event_detail">
      <td>
        <h4 class="event_title_expanded margin_top0"><%= event.title %></h4>
        <div class="floatright">
          <div class="fee-expanded"><%= event_price(event, :show_materials_fee => true) %></div>
          <div class="cta"><%= render :partial => 'events/smart_attend_btn', :locals => {:event => event} %><br/></div>
        </div>
        <p>
          <%= event.description.html_safe %>
        </p>
      </td>
      <td>
        <%= render :partial => 'events/when_where_host_table', :locals => {:event => event, :show_image => true} %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% ready_script do -%>
  $("tr.expandable").click(function(event) {
      if(event.target.nodeName == 'A') return;
      event.stopPropagation();
      // Collapse the clicked on row
      var $target = $(this);
      $target.hide();

      // Collapse any other expanded rows
      $("tr.event_detail").filter(":visible").each(function(i) {
        $(this).hide();
        $(this).closest("tr").prev().show();
      });
      
      // Open up the dual of the clicked on row
      if ( $target.hasClass('event_detail') ) {
        $target.prev().show(1000);
      } else {
        $target.next().show(1000);
      }                    
  });
  $("tr.expandable").hover(
    function() {
      $(this).find(".more").fadeIn(300);
    },
    function() {
      $(this).find(".more").fadeOut();
    }
  );
  $("p.ellipsisize").ellipsis();
<% end -%>
