<table class="table">
  <thead>
    <tr>
      <th>What</th>
      <% if user_signed_in? %>
        <th>Proximity</th>
      <% end %>
      <th>When</th>
      <th>Where</th>
      <th>Who</th>
      <th>Price</th>
      <th>Host</th>
      <% if user_signed_in? %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
  <% events.each do |event| %>
    <tr>
      <td><div class="title-top"><%= link_to event.title, event %></div><div class="title-bot"><%= truncate(event.description, :length => 90, :separator => ' ') %></div></td>
      <% if user_signed_in? %>
        <td><%= "#{current_user.distance_to(event.venue)} mi" unless event.venue.blank? %></td>
      <% end %>
      <td><div class="index-date-column"><%= render :partial => 'events/times', :locals => {:event => event, :short_date => true, :no_tz => true} %><span class="muted" data-livestamp="<%= event.start_time %>"></span></div></td>
      <td><%= event.venue.blank? ? 'TBD' : link_to(venue_location(event.venue), event.venue) %></td>
      <td><div class="tooltipify" title="<%= attends_status(event) %><br/><%= slots_status(event) %>" data-placement="left" data-html="true"><%= render :partial => 'events/attends_meter', :locals => { :event => event } %></div></td>

      <td><%= event_price(event) %></td>
      <td>
        <% if event.host %>
          <%= rich_user_thumbnail(event.host) %>
          <div class="star_rating" data-score="<%= event.host.rating_as_host %>"></div>
        <% end %>
      </td>
      <% if user_signed_in? %>
        <td><%= render :partial => 'events/status_wrt_current_user', :locals => {:event => event} %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
