<table class="table table-hover">
  <thead>
    <tr>
      <th style="width:60%;"></th>
      <th style="width:40%;"></th>
    </tr>
  </thead>

  <tbody>
  <% events.each do |event| %>
    <tr class="event_summary expandable" name="<%= event.to_param %>">
      <td>
        <div class="span2 pull-right center-text">
          <h4 class="fee"><%= event_price(event, :show_materials_fee => true) %></h4>
        </div>
        <h3 class="event_title"><%= event.title %></h3>
        <div class="more muted very_faint"><i class="icon-sort-down"></i> <span>click to expand</span> <i class="icon-sort-down"></i></div>
      </td>
      <td>
        <%= render :partial => 'events/when_where_host_table', :locals => {:event => event} %>
      </td>
    </tr>
    <tr style="display: none;" class="event_detail">
      <td>
        <div class="span2 pull-right center-text">
          <h4 class="fee"><%= event_price(event, :show_materials_fee => true) %></h4>
          <div class="cta"><%= render :partial => 'events/smart_attend_btn', :locals => {:event => event} %><br/></div>
        </div>
        <h3 class="event_title"><%= event.title %></h3>
        <p>
          <%= event.description.html_safe %>
        </p>
        <% if (event.host === current_user) or admin_session? %>
          <%= link_to 'Manage', manage_attendances_path(event), :class => 'btn btn-small' %>        
        <% end %>
      </td>
      <td>
        <%= render :partial => 'events/when_where_host_table', :locals => {:event => event, :show_image => true} %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% ready_script do -%>
  $("tr.expandable").click(function(event) {
      if(event.target.nodeName == 'A') return;
      event.stopPropagation();
      // Collapse the clicked on row
      var $target = $(this);
      $target.hide();

      // Collapse any other expanded rows
      $("tr.event_detail").filter(":visible").each(function(i) {
        $(this).hide();
        $(this).closest("tr").prev().show();
      });
      
      // Open up the dual of the clicked on row
      if ( $target.hasClass('event_detail') ) {
        $target.prev().show(1000);
      } else {
        $target.next().show(1000);
      }                    
  });
  $("tr.expandable").hover(
    function() {
      $(this).find(".more").fadeTo(300,1);
    },
    function() {
      $(this).find(".more").fadeTo(0,0.001);
    }
  );
  if (window.location.hash) {
    var tr = $('tr[name="' + window.location.hash.substring(1) + '"]');
    $('html, body').animate({ scrollTop: tr.offset().top + 'px'}, 'fast');
    tr.click();
  };
<% end -%>
