<table class="table">
  <thead>
    <tr>
      <th>Activity</th>
      <th>Proximity</th>
      <th>Time</th>
      <th>Day</th>
      <th>Rating</th>
      <th>Spots</th>
      <th>Where</th>
      <th>Price</th>
      <th>Host</th>
    </tr>
  </thead>

  <tbody>
  <% events.each do |event| %>
    <tr>
      <td><%= link_to event.short_title, event %></td>
      <td></td>
      <td><%= l event.start_time.to_time, format: :short_time %> - <%= l event.end_time.to_time, format: :short_time %></td>
      <td><%= l event.start_time.to_date, format: :short %></td>
      <td></td>
      <td><%= render :partial => 'attends_meter', :locals => { :event => event } %></td>
      <td></td>
      <td><%= number_to_currency(event.price) %></td>
      <td><%= link_to event.host.name, event.host %></td>
    </tr>
  <% end %>
  </tbody>
</table>
