<table class="table table-hover">
  <thead>
    <tr>
      <th>What</th>
      <% if user_signed_in? %>
        <th>Proximity</th>
      <% end %>
      <th>When</th>
      <th>Where</th>
      <th style="width:100px;">Materials Fee</th>
      <th style="width:100px;">Host</th>
    </tr>
  </thead>

  <tbody>
  <% events.each do |event| %>
    <tr>
      <td><div class="title-top"><%= event.title %></div><div class="title-bot"><%= truncate(strip_tags(event.description), :length => 90, :separator => ' ') %></div></td>
      <% if user_signed_in? %>
        <td><%= "#{current_user.distance_to(event.venue)} mi" unless event.venue.blank? %></td>
      <% end %>
      <td><div class="blocky_spans"><%= render :partial => 'events/times', :locals => {:event => event, :short_date => true, :no_tz => true} %><span class="muted" data-livestamp="<%= event.start_time %>"></span></div></td>
      <td><%= event.venue.blank? ? 'TBD' : neighborhood_or_city_n_state(event.venue.location, :show_popover_map => true) %></td>
      <td><%= event_price(event) %></td>
      <td>
        <% if event.host %>
          <%= rich_user_thumbnail(event.host, :linked => false, :thumb_size => :small) %>
        <% end %>
      </td>
    </tr>
    <tr style="display: none;">
      <td colspan="4">
        <img src="<%= event.img_src(:large) %>" class="img-rounded float-right">    
        <div class="title-top"><h3><%= event.title %></h3></div><div><%= event.description.html_safe %></div>
      </td>
      <td colspan="2">
        <% if event.slots_left > 0 %>
          <% if user_signed_in? %>
            <% if current_user.attending_event?(event) %>
              <span class="text-success">
                <i class="icon-check icon-large"> </i> you 
                <% if event.occurred? %>
                  attended
                <% else %>
                  signed up to attend
                <% end %>            
              </span>
            <% else %>
              <%= link_to 'Attend', attend_path(event), :class => "btn btn-success btn-large attend_event", :method => :post %>
            <% end %>
          <% else %>
            <button data-auto_attend_event="<%= event.uuid %>" data-toggle_modal_registration class="btn btn-success btn-large">Attend</button>
          <% end %>
        <% else %>
          <h4 class="text-error"><i class="icon-ban-circle"> </i> full</h4>
        <% end %>
        <h4>When</h4>
        <div class="clearfix">
          <div class="blocky_spans"><%= render :partial => 'events/times', :locals => {:event => event, :short_date => true, :no_tz => true} %><span class="muted" data-livestamp="<%= event.start_time %>"></span></div>          
        </div>
        <h4>Located</h4>
        <div class="clearfix">
          <%= event.venue.blank? ? 'TBD' : neighborhood_or_city_n_state(event.venue.location, :show_popover_map => true) %>
        </div>
        <h4>Materials Fee</h4>
        <%= event_price(event) %>
        <h4>Taught By</h4>
        <% if event.host %>
          <%= rich_user_thumbnail(event.host, :linked => false, :thumb_size => :small) %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% ready_script do -%>
  $("table").click(function(event) {
      if(event.target.nodeName == 'A') return;
      event.stopPropagation();
      var $target = $(event.target);
      $target.closest("tr").hide();
      if ( $target.closest("td").attr("colspan") > 1 ) {
          $target.closest("tr").prev().show(1000);
      } else {
          $target.closest("tr").next().show(1000);
      }                    
  });
<% end -%>
