<table class="table table-hover">
  <thead>
    <tr>
      <th style="width:60%;"></th>
      <th style="width:40%;"></th>
    </tr>
  </thead>

  <tbody>
  <% events.each do |event| %>
    <tr class="event_summary expandable" name="<%= event.to_param %>">
      <td>
        <div class="span2 pull-right center-text">
          <h4 class="fee"><%= event_price(event, :show_materials_fee => false) %></h4>
        </div>
        <h3 class="event_title"><%= event.title %></h3>
        <div class="more muted very_faint"><i class="icon-sort-down"></i> <span>click to expand</span> <i class="icon-sort-down"></i></div>
      </td>
      <td>
        <%= render :partial => 'events/when_where_host_table', :locals => {:event => event} %>
      </td>
    </tr>
    <tr style="display: none;" class="event_detail">
      <td>
        <h3 class="event_title"><%= event.title %></h3>
        <div class="span2 pull-right center-text fee_cta">
          <h4 class="fee"><%= event_price(event, :show_materials_fee => false) %></h4>
          <span class="cta"><%= render :partial => 'events/smart_attend_btn', :locals => {:event => event} %></span><br/>
          <%# FIXME: optimize this %>
          <% upcoming_reruns = event.workshop.events.ordered_by_earliest_meeting_start_time.to_a; upcoming_reruns.shift %>
          <% unless upcoming_reruns.blank? %>
            <h4>Next Dates</h4>
            <% upcoming_reruns.map(&:first_meeting).each do |m| -%>
              <div><%= meeting_date(m, :short_date => true) %></div>
            <% end -%>
          <% end %>
        </div>
        <div class="event_description">
          <%= markdown(event.description.try(:html_safe), :mkd_noheader) %>
        </div>
      </td>
      <td>
        <%= render :partial => 'events/when_where_host_table', :locals => {:event => event, :show_image => true} %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% body_script do -%>
  function expand_row(row, duration) {
    row.hide();

    // Collapse any other expanded rows
    $("tr.event_detail").filter(":visible").each(function(i) {
      $(this).hide();
      $(this).closest("tr").prev().show();
    });
    
    // Open up the dual of the clicked on row
    if ( row.hasClass('event_detail') ) {
      row.prev().show(duration);
    } else {
      row.next().show(duration);
    }
  }
<% end -%>

<% ready_script do -%>
  $("tr.expandable").click(function(event) {
      if(event.target.nodeName == 'A') return;
      event.stopPropagation();
      expand_row($(this), 1000);
  });
  $("tr.expandable").hover(
    function() {
      $(this).find(".more").fadeTo(300,1);
    },
    function() {
      $(this).find(".more").fadeTo(0,0.001);
    }
  );
  if (window.location.hash) {
    var tr_expandable = $('tr[name="' + window.location.hash.substring(1) + '"]'),
        tr_details = tr_expandable.next();
    expand_row(tr_expandable, 0);
    $('html, body').animate({ scrollTop: tr_details.offset().top + 'px'}, 'fast');
  };
<% end -%>
