<%
  rerun ||= (@rerun || @event)

%>
<table class="table table-bordered table-striped" id='event_attendees'>
  <thead>
    <tr>
      <th>Signup Date</th>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @event.attendances.reject {|a| a.user.nil? }.each do |attendance| %>
    <tr data-user-uuid="<%= attendance.user.uuid %>">
      <td><%= datetime_localized_to_current_user(attendance.created_at) %><br/><%= time_ago(attendance.created_at) %></td>
      <td>
        <%= contextualized_user_link(attendance.user, :linked => true, :make_messageable_apropos => @event,
                                     :data=>{
                                         :modal_header_content => "#{h(render('messages/new_for_header', :message => Message.new(:to_user => attendance.user, :apropos => @event)))}",
                                         :id => attendance.user.uuid
                                     }
            )
        %>
      </td>
      <td><%= attendance.user.email %></td>
      <td>
        <% if can? :cancel_attend, @event %>
          <%= button_to 'Cancel', 
                          cancel_attend_path(@event, :user_uuid => attendance.user.uuid), :method => :post, :remote => true,
                          :class => "btn btn-default", :form_class => "margin0", 
                          :confirm => 'Really cancel?' %>
        <% end %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>


<%= render 'messages/modal_new', :message => Message.new(:to_user => User.new, :apropos => @event), :to => :one_person %>


<% ready_script do -%>
  <% if user_signed_in? %>
    $('#event_attendees a.message_user').on('click', function(e) {
    $('#new_message_modal .modal-header-content').html($(this).data('modal-header-content'));
    $('#new_message_modal #message__to_user_uuid').attr('value', $(this).data('id'));
    $('#new_message_modal').modal('show');
    e.preventDefault();
    });
  <% end %>
  $(document).on('ajax:success', '#new_message_modal form', function(e, data, status, xhr) {
  $("#new_message_modal").modal('hide');
  show_bootstrap_alert({text: "Your message has been sent.  The host will reply to you by email.", type: 'success'});
  });
<% end -%>