<%
  rerun ||= (@rerun || @event)
%>
<br>
<table class="table table-bordered table-striped" id='event_attendees'>
  <thead>
    <tr>
      <th>Signup Date</th>
      <th>Name</th>
      <th>Email</th>
      <th>Mobile #</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @event.attendances.reject {|a| a.user.nil? }.each do |attendance| %>
    <tr data-user-uuid="<%= attendance.user.uuid %>">
      <td><%= datetime_localized_to_current_user(attendance.created_at) %><br/><%= time_ago(attendance.created_at) %></td>
      <td><%= attendance.user.name %></td>
      <td><%= attendance.user.email %></td>
      <td class="user_phone"><%= attendance.user.phone %></td>
      <td>
        <% if can? :cancel_attend, @event %>
          <%= button_to 'Cancel', 
                          cancel_attend_path(@event, :user_uuid => attendance.user.uuid), :method => :post, :remote => true,
                          :class => "btn btn-default", :form_class => "margin0", 
                          :confirm => 'Really cancel?' %>
        <% end %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<% ready_script do -%>
  $("td.user_phone").format_phone_number_html();
  
  var clip = new ZeroClipboard($("#d_clip_button"));
  $('#fe_text').focus();
<% end -%>