<div class="text-center">
  <h4>
    You are currently editing
  </h4>
  <div class="text-success">
    <%= @event.title %>
    <% if @event.first_meeting.present? %>
    -
    <span class="vc_editable meeting_time">
      <%= event_time(@event, :short_date => true, :no_tz => true, :show_livestamp => false) %>
    </span>
      <% end %>
  </div>
  <div>
      <span class="text-warning">
      <%= link_to 'view', event_path(@event), :class => 'text-warning' %>
        -
      <%= link_to 'manage', edit_event_path(@event), :icon => 'group', :class => 'text-warning' %>
        -
      <%= link_to 'delete', @event, confirm: 'Really delete event?', method: :delete, class: 'text-warning', title: 'delete event' %>
    </span>
  </div>


  <% if @events.present? %>
  <h4>
    edit other dates
  </h4>
  <% end %>

  <ul class="list-unstyled simple_index">
    <% @events.each do |event| %>
    <li class="row">
      <%= link_to edit_event_path(event) do %>
        <%= event.title %> <%= event.start_time.to_s %>
      <% end %>
    </li>
    <% end %>
  </ul>

  <%= link_to content_tag(:i,'', class: 'fa fa-plus'), new_workshop_events_path(@event.workshop), class: 'btn btn-warning btn-xs' %>
  <%= link_to "Add a new date", new_workshop_events_path(@event.workshop) %>


  <div class="sidebar-padding-top">
    <span class="text-muted">Edit other posts in</span> <%= link_to "my activities", my_events_path %>
  </div>
  <%= link_to "save changes", "#", class: 'btn btn-primary event-save' %>
  <% unless @event.published? %>
    <%= link_to "view & submit", "#", class: 'btn btn-success event-save-and-publish' %>
  <% end %>

</div>