<div class="text-center">
  <div>
    Wait a minute! Don’t create a new submission if you are just adding a new date.
  </div>

  <h4>
    schedule a new date for
  </h4>
  <ul class="list-unstyled simple_index text-left list-unstyled-plus">
    <li class="row">
      <%= link_to '#' do %>
        <span class="btn btn-warning btn-xs">
          <i class='fa fa-plus'></i>
         </span>
        sour cat car toss
      <% end %>
    </li>

    <li class="row">
      <%= link_to '#' do %>
        <span class="btn btn-warning btn-xs">
          <i class='fa fa-plus'></i>
        </span>
        diesel rain celebration
      <% end %>
    </li>
    <li class="row">
      <%= link_to '#' do %>
        <span class="btn btn-warning btn-xs">
          <i class='fa fa-plus'></i>
        </span>
        little miss crunchy spiders
      <% end %>
    </li>
  </ul>


  <div class="sidebar-padding-top">
    <h4>Submit a new event</h4>
  </div>
  <%= link_to "save", "#", class: 'btn btn-primary' %>
  <%= link_to "view & submit", "#", class: 'btn btn-success' %>

</div>