<% event ||= @event 
   show_image ||= false
%>
<table class="table borderless when_where_host_table">
  <tbody>
    <tr>
      <td class="when">
        <div class="blocky_spns">
          <%= render :partial => 'reruns/times', :locals => {:rerun => event} %>
        </div>
        <p><%= render :partial => 'events/inline_attend_state', :locals => {:event => event} %></p>
      </td>
      <td class="where"><%= event.venue.blank? ? 'TBD' : neighborhood_or_city_n_state(event.venue.location, :show_popover_map => false) %></td>
      <td class="attends">
        <div class="blocky_spns">
          <% if event.slots_left == 0 %>
            <span class="blocky_attend text-error"><%= event.attendances.count %></span><span class="text-error">going</span>
          <% else %>
            <span class="blocky_attend"><%= event.attendances.count %></span><span>going</span>
          <% end %>
        </div>
      </td>
      <td class="host">
        <% if event.host %>
          <%= render :partial => 'users/thumbnail', :locals => {:user => event.host, :span => 2} %>
        <% end %>
      </td>
    </tr>
    <% if show_image %>
      <tr>
        <td colspan="4" class="image"><img src="<%= event.img_src(:larger) %>" class="img-rounded"></td>
      </tr>
    <% end %>
  </tbody>
</table>
