<% event ||= @event 
   show_image ||= false
%>
<table class="table borderless when_where_host_table">
  <tbody>
    <tr>
      <td class="when">
        <div class="blocky_spns"><%= render :partial => 'events/times', :locals => {:event => event, :short_date => true, :no_tz => true} %><span class="muted" data-livestamp="<%= event.start_time %>"></span></div>
        <p><%= render :partial => 'events/inline_attend_state', :locals => {:event => event} %></p>
      </td>
      <td class="where"><%= event.venue.blank? ? 'TBD' : neighborhood_or_city_n_state(event.venue.location, :show_popover_map => false) %></td>
      <td class="attends">
        <div class="blocky_spns">
          <% if event.slots_left > 0 %>
            <span><%= event.attendances.count %> / <%= event.max_attendees %></span><span>going</span>
          <% else %>
            <span class="text-error">full</span>
          <% end %>
        </div>
      </td>
      <td class="host">
        <% if event.host %>
          <ul class="thumbnails">
              <li class="span2">
                <div class="thumbnail">
                  <%= user_thumb(event.host, {:size => :small, :linked => false}) %>
                </div>
              <div class="caption">
                <%= contextualized_user_link(event.host, :linked => false) %>
              </div>
              </li>
          </ul>
        <% end %>
      </td>
    </tr>
    <% if show_image %>
      <tr>
        <td colspan="4" class="image"><img src="<%= event.img_src(:larger) %>" class="img-rounded"></td>
      </tr>
    <% end %>
  </tbody>
</table>
