<div class="well">
  <%= render :partial => 'title_n_times', :locals => {:event => @event} %>
</div>

<h2>Event URL</h2>

<div class="input-append">
  <input type='text' id='fe_text' value="<%= root_url(:only_path => false, :anchor => @event.to_param) %>" readonly='readonly'></input>
  <button class='btn btn-default' data-clipboard-target='fe_text' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button'>Copy to clipboard</button>
</button>
</div>

<h2>Attendees</h2>
<table class="table table-bordered table-striped" id='event_attendees'>
  <thead>
    <tr>
      <th>Signup Date</th>
      <th>Name</th>
      <th>Email</th>
      <th>Mobile #</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @event.attendances.each do |attendance| %>
    <tr data-user-uuid="<%= attendance.user.uuid %>">
      <td><%= datetime_localized_to_current_user(attendance.created_at) %><br/><%= time_ago(attendance.created_at) %></td>
      <td><%= attendance.user.name %></td>
      <td><%= attendance.user.email %></td>
      <td class="user_phone"><%= attendance.user.phone %></td>
      <td><%= button_to 'Cancel', 
                        cancel_attend_path(@event, :user_uuid => attendance.user.uuid), :method => :post, :remote => true,
                        :class => "btn btn-default", :form_class => "margin0", 
                        :confirm => 'Really cancel?' %></td>
    </tr>
<% end %>
  </tbody>
</table>

<% if false # dumning this down for MVP release %>
<div><%= render :partial => 'events/attends_meter', :locals => { :event => @event } %></div>
<%= attends_status(@event, :show_interest => true) %><br/>
<strong>Event size</strong>: <%= event_size(@event) %>

<h3><%= @interested.count %> Interested</h3>
<%= render :partial => 'manage_attendances_table', :locals => {:attendances => @interested} %>

<h3><%= @attending.count %> Attending</h3>
<%= render :partial => 'manage_attendances_table', :locals => {:attendances => @attending} %>

<h3><%= @confirmed.count %> Confirmed</h3>
<%= render :partial => 'manage_attendances_table', :locals => {:attendances => @confirmed} %>
<% end %>

<% ready_script do -%>
  $("td.user_phone").format_phone_number_html();
  
  var clip = new ZeroClipboard($("#d_clip_button"));
  $('#fe_text').focus();
<% end -%>