<% if (@event.host === current_user) or admin_session? %>
    <h2 class="margin0"><%= link_to @event.workshop.title, edit_workshop_path(@event.workshop) %></h2>
    <p>hosted by <%= contextualized_user_link(@event.host, :linked => true) %> 路 
      <%= event_price(@event, :show_materials_fee => true) %> 路 
      <%= @event.max_attendees %> slots 路 
      <%= pluralize(@event.attendances.count, 'person') %> signed up 路 
      meets <%= @event.meetings.count == 1 ? 'once' : (@event.meetings.count == 2 ? 'twice' : pluralize(@event.meetings.count, 'time')) %>
    </p>
    <p>
      <%= render 'reruns/meeting_times_list', :rerun => @event, :include_venue => false, :inline => true %>
    </p>
    <div class="well">
      <h3>Message Attendees</h3>
      <ul class="nav nav-pills margin0">
        <li class="active"><a href="#compose_sms" data-toggle="tab">Short message</a></li>
        <li><a href="#compose_email" data-toggle="tab">Long message</a></li>
      </ul>
      <div class="tab-content">
        <div class='tab-pane active' id='compose_sms'>
          <%= render 'reruns/message_attendees', :rerun => @event %>
        </div>
        <div class='tab-pane' id='compose_email'>
          <%= render 'messages/form', :message => Message.new, :apropos => @event %>
        </div>        
      </div>
    </div>
    <div class="row">
    <div class="span12">
      <ul class="nav nav-tabs margin0">
        <li class="active"><a href="#attendees" data-toggle="tab">Attendees</a></li>
        <li><a href="#activity" data-toggle="tab">Activity</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane active" id="attendees">
          <%= render 'manage_attendances' %>
        </div>
        <div class="tab-pane" id="activity">
          <%= render :partial => 'activities/index', :locals => {:activities_n_counts =>  @activities_n_counts} %>
        </div>
      </div>
    </div>
</div>
<% end %>

<%# render :partial => 'events/attend_status_and_call_to_action' %>  

<div class="row">
  <%# render :partial => 'activities/index', :locals => {:activities => @event.activities} %>
</div>
<%# render :partial => 'attendees_modal' %>
