<div class="page-header">
  <div class="pull-right">
    <%= iconic_link_to 'Manage all attendees in series', manage_workshop_path(@event.workshop), class: 'btn btn-sm btn-default', title: 'manage all attendees' , icon: 'group' %>
  </div>
  <label>Manage attendees of:</label>
  <h2 class="margin0"><%= link_to @event.title, @event %></h2>
  <p>
    <%= render 'reruns/meeting_times_list', :rerun => @event, :include_venue => false, :inline => true %>
  </p>
  <p>hosted by <%= contextualized_user_link(@event.host, :linked => true) %> 路 
    <%= event_price(@event, :show_materials_fee => true) %> 路 
    <%= @event.max_attendees %> slots 路 
    <%= pluralize(@event.attendances.count, 'person') %> signed up<br/>
    meets <%= @event.meetings.count == 1 ? 'once' : (@event.meetings.count == 2 ? 'twice' : pluralize(@event.meetings.count, 'time')) %> 路 part of the series <%= link_to @event.title, my_workshops_path(:anchor => "w_#{@event.workshop.uuid}") %>
  </p>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs margin0">
      <li class="active"><a href="#attendees" data-toggle="tab">Attendees</a></li>
      <li><a href="#activity" data-toggle="tab">Activity</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active" id="attendees">
        <%= render 'manage_attendances' %>
      </div>
      <div class="tab-pane" id="activity">
        <%= render :partial => 'activities/index', :locals => {:activities_n_counts =>  @activities_n_counts} %>
      </div>
    </div>
  </div>
</div>

<%# render :partial => 'events/attend_status_and_call_to_action' %>  

<%# render :partial => 'activities/index', :locals => {:activities => @event.activities} %>

<%# render :partial => 'attendees_modal' %>
