<h1><%= @event.title %></h1>
<h4>
  <%= l @event.start_time, format: :short_time %> - <%= l @event.end_time, format: :short_time %> <%= @event.start_time.to_date.strftime("%A %B #{@event.start_time.day.ordinalize}") %>
</h4>

<address>
  <strong><%= link_to @event.venue.name, @event.venue %></strong><br/>
  <%= render :partial => 'locations/inline_with_paren_map', :locals => {:location => @event.venue.location} %>
</address>

<p>
  <%= @event.description %>
</p>

<p>
  hosted by: <%= link_to @event.host.name, @event.host %>
</p>

<%= render :partial => 'events/attend_status_and_call_to_action' %>

<% if @event.host === current_user %>
  <%= link_to 'Edit', edit_event_path(@event) %>
<% end %>
