<h1><%= @event.title %></h1>
<p>
  <%= l @event.start_time, format: :long %> - <%= l @event.end_time, format: :long %><br/>
  <b>host:</b> <%= link_to @event.host.name, @event.host %>
</p>

<p>
  <%= @event.description %>
</p>

<%= render :partial => 'events/attend_status_and_call_to_action' %>

<% if @event.host === current_user %>
  <%= link_to 'Edit', edit_event_path(@event) %>
<% end %>
