<% use_embedded_map = (blur_event_location?(@event) and @event.venue.location.neighborhood.nil?) %>
<h1><%= @event.title %></h1>
<h4>
  <%= render :partial => 'times' %>
</h4>
<div class="row">
  <div class="span8">
    <p>
      <%= render :partial => 'events/attends_meter', :locals => { :event => @event } %> <%= link_to pluralize(@event.attendees.count, 'attendee'), attendees_path(@event), 'data-toggle' => 'modal', 'data-target' => '#attendees_modal' %>
    </p>

    <% if @event.venue.blank? %>
      location: TBD
    <% else %>
      <address>
        <strong><%= link_to @event.venue.name, @event.venue %></strong><br/>
        <%= render :partial => 'locations/inline', :locals => {:location => @event.venue.location, :blur => blur_event_location?(@event)} %>
        <p>
          <div id="map-canvas" class="img-polaroid"><%= render(:partial => 'locations/embedded_gmap', :locals => {:q => city_n_state(@event.venue.location)}) if use_embedded_map %></div>
        </p>
      </address>
    <% end %>

    <p>
      <%= @event.description %>
    </p>

    <p>
      hosted by: <%= contextualized_user_link @event.host %>
    </p>    
    <% unless @event.host === current_user %>
      <%= render :partial => 'events/attend_status_and_call_to_action' %>  
    <% end %>
  </div>

  <% if @event.host === current_user %>
  <div class="span2 offset2">
    <div class="well">
      <h4>Host Controls</h4>
      <p>
        <%= link_to 'Edit Event', edit_event_path(@event), :class => 'btn' %>        
      </p>
      <p>
        <a id="secret" data-title="Event Secret" data-html="true" data-content='<%= render(:partial => 'event_secret_popover', :locals => {:event => @event}) %>' data-placement="left">reveal secret</a>        
      </p>
    </div>
  </div>
  <% end %>
</div>

<div class="row">
  <ul class="thumbnails">
    <li class="span8">
      <% @event.activities.each do |activity| %>
      <div class="thumbnail right-caption span8">
        <%= render_activity activity %>
      </div>
      <% end %>
    </li>
  </ul>
</div>
<%= render :partial => 'attendees_modal' %>

<% ready_script do -%>
  $("#secret").popover();
  <%= render(:partial => 'venues/load_gmap.js', :locals => {:venue => @event.venue, :blur => blur_event_location?(@event)}) unless (use_embedded_map or @event.venue.blank?) %>
<% end -%>