<% if (@event.host === current_user) or admin_session? %>
  <div class="row">
    <div class="span12 well">
      <h3 class="margin0"><%= link_to @event.workshop.title, edit_workshop_path(@event.workshop) %></h3>
      <p>hosted by <%= contextualized_user_link(@event.host, :linked => true) %> 路 
        <%= event_price(@event, :show_materials_fee => true) %> 路 
        <%= @event.max_attendees %> slots 路 
        <%= pluralize(@event.attendances.count, 'person') %> signed up 路 
        meets <%= @event.meetings.count == 1 ? 'once' : (@event.meetings.count == 2 ? 'twice' : pluralize(@event.meetings.count, 'time')) %>
      </p>
      <p>
        <%= render 'reruns/meeting_times_list', :rerun => @event, :include_venue => false, :inline => true %>
      </p>
      <%= render 'manage_attendances' %>
    </div>
  </div>
<% end %>

<%# render :partial => 'events/attend_status_and_call_to_action' %>  

<div class="row">
  <%# render :partial => 'activities/index', :locals => {:activities => @event.activities} %>
</div>
<%# render :partial => 'attendees_modal' %>

<% ready_script do -%>
<% end -%>