<h1><%= @event.title %></h1>
<p>
  <%= l @event.start_time, format: :long %> - <%= l @event.end_time, format: :long %><br/>
  <b>host:</b> <%= link_to @event.host.name, @event.host %>
</p>

<p>
  <%= @event.description %>
</p>

<% if @event.occurred? %>
  Event occurred.
<% else %>
  <% if user_signed_in? %>
    <% if current_user.attends.exists?(@event) %>
      <i class="icon-check icon-large text-success"> </i> You plan to attend
    <% else %>
      <%= link_to '<i class="icon-check"></i> Attend'.html_safe, attend_path(@event), :class => 'btn btn-success', :method => :post %>
    <% end %>
  <% else %>
    Sign in or sign up to attend!
  <% end %>
<% end %>

<% if @event.host === current_user %>
  <%= link_to 'Edit', edit_event_path(@event) %>
<% end %>
