<div id="faq" class="row">
  <div class="col-sm-8">
    <h1>FAQ</h1>
    <h2>What is Villagecraft?</h2>
    <p>Villagecraft is the very beginning of an organic process that facillitates hands-on learning activities at the neighborhood level. We are building a set of tools for coordinating groups, sharing resources, and building community.</p>

    <h2>What kinds of activities do we support?</h2>
    <p>We are most excited about supporting activities that engage and empower people. This might include sharing skills, connecting great projects with resources and labor, wellness workshops, co-learning opportunities, collaborating on creative projects, or cultivating imagination, and welcome additions to the ever-growing list of possibilities.</p>

    <h2>What does Villagecraft do?</h2>
    <p>When we meet people with great ideas for activities, we connect them with tools and resources. We do this by helping them find an appropriate space to host the activity, helping spread the word, and offering our web-based platform. Our aim is to evolve a network of co-creation and co-learning that is visible and accessible, and to encourage its flourishing.</p>

    <h2>How can I be involved?</h2>
    <p>Come check out an event! Submit cool stuff for us to add to the list! Put together your own workshop, or ask us for help on how to make it happen! Let us know what you think. Anyone can do any, all, or none of these things-- or suggest new ways to participate-- and we encourage everyone to do so in a way that will be sustainable and rewarding for them personally.</p>

    <h2>How do I become a host?</h2>
    <p>Use 
      <% if user_signed_in? %>
        <%= link_to "this form", hostify_me_users_path %>
      <% else %>
        <%= sign_up_link(Event.new({:uuid => '_HOSTIFY_ME_', :title => "Interested in hosting?  Leave your email and we'll be in touch."}, :as => :system), 
                           :cta => "this form",
                           :path => hostify_me_users_path) %>
      <% end %> to suggest the event you'd like to host and we'll get back to you.
    </p>

    <h2>Why do we ask for your contact info when you sign up?</h2>
    <p>We ask for your email and phone number so that you can be added to the workshop roster. This allows people who coordinate workshops to know how many people to plan for, to contact you directly to give directions, relay changes of plans, etc. We never share your information with advertisers or anyone else, and we never plan to.</p>

    <h2>Who's making this?</h2>
    <p>Currently, a small team designs the Villagecraft systems and curates the site's content. We would like to soon move for content curation to be an open, transparent process that anyone interested can be involved in.</p>

    <h2>How do I contact you?</h2>
    <p>You can email any of us:
      <ul>
        <li>Jared S <%= mail_to "jaredsmith@villagecraft.org" %></li>
        <li>Hayley S <%= mail_to "hayleysteele@villagecraft.org" %></li>
        <li>Jared W <%= mail_to "jaredwood@villagecraft.org" %></li>
        <li>Anthony S <%= mail_to "anthony@villagecraft.org" %></li>
      </ul>
    </p>
        
  </div>
</div>