<div id="privacy_policy" class="row">
	<div class="col-sm-8">
		<h1>Privacy Policy</h1>
		<p>Your privacy is important to us. We want you to understand exactly how and why we use your information, so we made this Privacy Policy. It describes what information we collect, how it is used, and when it is shared.</p>

		<p>Please read this Privacy Policy carefully. It is made to respect you, whose participation makes our endeavors possible. Your use of and/or registration with Villagecraft constitutes your agreement to this policy. If you do not agree to the terms and conditions set forth below, do not use our services.</p>

		<p>Our Privacy Policy is part of our <%= link_to "Terms of Use", terms_of_use_path %> User Agreement. By using Villagecraft you agree to both.</p>

		<h2>about this policy</h2>
		<p>We collect some information in order for you to have an account you can use to participate on the site, and other information that is necessary to make the platform work.</p>

		<p><strong>We don’t sell the information you share with us.</strong></p>

		<p>We do take efforts to make sure the platform keeps working. This includes using your information, if necessary, to stop malicious actors. We will also share your information if we are legally required to do so.</p>

		<h3>information we collect</h3>
		<h4>registration information</h4>
		<p>When you create an account, you are required to provide a username, password, and an email address. You may also provide a phone number. This information is never sold. It is used so that we can contact you regarding our services and so that hosts can contact you once you’ve RSVPed for their events.</p>

		<h4>posts and messages</h4>
		<p>Event postings you make on Villagecraft are public. Anyone can see them and they are never deleted from our server. Even if you deactivate your account, any event postings you have made will not be deleted.</p>

		<p>If you send an email to another user, it is sent through the service SendGrid, whose privacy policy you can view here. The person you send an email to will receive your email address and reply directly to the email associated with your account.</p>

		<p>Your messages are generally only viewable by the parties involved. In case they are needed we have access to them for the sole purpose of community support. We keep a complete log of all messages sent through our services, regardless of whether the sending or receiving accounts are deleted.</p>

		<h4>log data</h4>
		<p>Log data is information automatically collected by our systems when you visit Villagecraft, including the type of software used to access the site (browser, operating system), the address of the page that referred you, and your IP address. This information is recorded even if you are logged out of your account.</p>

		<h4>account history and preferences</h4>
		<p>We save certain information about your interactions with Villagecraft including which events you host, which you sign up for, and where these events take place.</p>

		<p>We also save your personal preferences regarding whether you’d like to receive Villagecraft announcements and newsletters, and emails or text messages sent by hosts. You can edit those preferences by logging in to your account and going to your <%= link_to 'settings', edit_settings_path %>.</p>

		<p>Hosts may send you text messages or emails, but they do not have access to your personal phone number or email. SMS text messages are sent through NexMo and emails are sent through SendGrid. You can see NexMo’s privacy policy <%= link_to 'here', 'https://www.nexmo.com/privacy-policy/' %> and SendGrid’s privacy policy <%= link_to 'here', 'http://sendgrid.com/privacy' %>.</p>

		<h3>how we use or disclose information</h3>
		<h4>your private information is never for sale</h4>
		<p>We do not sell or otherwise give access to any information collected about our users to any third party.</p>

		<p>We only share your personal information if you have consented to our doing so, after we let you know what information will be shared and with whom, unless it is otherwise permitted in this policy.</p>

		<p>Aggregated anonymous information that cannot be linked back to an individual user may be made available to third parties.</p>

		<h4>we will not disclose your information unless required by law</h4>
		<p>We may disclose or preserve for future disclosure your information if we believe that doing so is necessary to comply with a law, regulation, or valid legal process. If we are going to release your information, we will do our best to provide you with notice in advance unless we are prohibited by court order from doing so (e.g., an order under 18 U.S.C. § 2705(b)).</p>

		<h4>your information may be disclosed by us in an emergency or to keep our services running</h4>
		<p>Other very unlikely circumstances may require disclosure, if we believe doing so is necessary to prevent imminent and serious bodily harm to a person, to address fraud, security, or spam, or to protect our rights or property.</p>

		<h3>cookie policy</h3>
		<p>Cookies are small data files placed on your computer by websites you visit to help them remember certain information about you. We have detailed below what cookies we use and why.</p>

		<p>Most browsers include an option to clear existing cookies or reject new ones, but doing so may cause the Villagecraft website to function improperly.</p>

		<h4>authentication</h4>
		<p>When you log into your account, we place cookies to create a session. This cookie contains your unique user id and encrypted authentication information. It’s what keeps you logged in. If you use Facebook to login, Facebook creates this cookie.</p>

		<h4>multiple users on the same machine</h4>
		<p>We store a cookie that uses anonymous user IDs to remember which accounts have previously logged in using that machine as a convenience for you and your friends.</p>

		<h4>analytics cookies</h4>
		<p>We use the tools Google Analytics and Intercom to help us understand how users interact with our website. They tell us, for instance, how the site was accessed, how long visitors stay, and the number of first-time visitors to the site. This information helps us improve the site.</p>

		<p>To learn more about Intercom and how it uses your data, click <%= link_to 'here', 'http://docs.intercom.io/privacy' %>.</p>

		<p>To learn more about Google Analytics and how it uses your data, click <%= link_to 'here', 'http://www.google.com/intl/en/policies/privacy/' %></p>

		<h4>content delivery cookie</h4>
		<p>The company that delivers the Villagecraft website to your computer, Cloudive may place a cookie on your computer as part of the service it provides, which includes monitoring visitors’ IP addresses to track malicious actors.</p>

		<h3>data security</h3>
		<p>We make every effort to secure private information submitted to us by our users. However, we cannot guarantee absolute security of this data as there is no completely secure method of data transmission over the internet. You use the service at your own risk, and are responsible for the security of your account and password.</p>

		<h3>changes to this policy</h3>
		<p>We reserve the right to change or update this policy as needed. If we make significant changes, we will let you know. Minor changes may only be highlighted by the privacy policy link in the footer of our website.</p>

		<h3>contact</h3>
		<p>If you have feedback, questions, or concerns about this policy please feel free to contact us at <%= mail_to 'Villagecraft Feedback <feedback@villagecraft.org>', 'feedback@villagecraft.org', subject: 'Villagecraft Feedback Report' %>.</p>
	</div>
</div>