<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @venues.each do |venue| %>
    <tr>
      <td>
        <%= link_to venue.name, venue %>
        <p class="muted">
          <%= venue.location.address %>
        </p>
      </td>
      <td><%= link_to venue.owner.name, venue.owner %></td>
      <td>
        <%= iconic_link_to 'Edit', edit_venue_path(venue), :class => 'btn btn-small' %>
        <%= iconic_link_to 'Delete', venue, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-small btn-danger' %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
