<div class="page-header">
  <% if @venue.owner === current_user %>
    <%= link_to edit_venue_path(@venue), :class => 'btn btn-primary' do %>
      <i class="icon-pencil icon-white"></i>
      Edit
    <% end %>
  <% end %>
  <h1><%= @venue.name %></h1>
  <p>
    owner: <%= link_to @venue.owner.name, @venue.owner %>
  </p>
</div>

<address>
  <%= render :partial => 'locations/inline_with_paren_map', :locals => {:location => @venue.location} %>
</address>

<p>
  <%= linked_map_image(@venue.location) %>      
</p>
