<% use_embedded_map = (blur_venue_location?(@venue) and @venue.location.neighborhood.nil?) %>
<div class="page-header">
  <% if @venue.owner === current_user %>
    <%= iconic_link_to 'Edit', edit_venue_path(@venue), :class => 'btn btn-primary' %>
    <%= iconic_link_to 'My Venues', my_venues_path, :class => 'btn', :icon => 'list' %>
  <% end %>
  <h1><%= @venue.name %></h1>
  <p>
    owner: <%= contextualized_user_link @venue.owner %>
  </p>
</div>

<address>
  <%= render :partial => 'locations/inline', :locals => {:location => @venue.location, :blur => blur_venue_location?(@venue)} %>
  <p>
    <div id="map-canvas" class="img-polaroid"><%= render(:partial => 'locations/embedded_gmap', :locals => {:q => city_n_state(@venue.location)}) if use_embedded_map %></div>
  </p>
</address>

<%# render :partial => 'reruns/index', :locals => {:reruns => @venue.events.order("start_time DESC")} %>

<% ready_script do -%>
  <%= render(:partial => 'venues/load_gmap.js', :locals => {:venue => @venue, :blur => blur_venue_location?(@venue)}) unless use_embedded_map %>
<% end -%>
