<div class="page-header">
  <% if @venue.owner === current_user %>
    <%= link_to edit_venue_path(@venue), :class => 'btn btn-primary' do %>
      <i class="icon-pencil icon-white"></i>
      Edit
    <% end %>
  <% end %>
  <h1><%= @venue.name %></h1>
  <p>
    owner: <%= contextualized_user_link @venue.owner %>
  </p>
</div>

<address>
  <%= render :partial => 'locations/inline', :locals => {:location => @venue.location, :blur => blur_venue_location?(@venue)} %>
  <p>
    <div id="map-canvas" class="img-polaroid"/>    
  </p>
</address>

<%= render :partial => 'events/index', :locals => {:events => @venue.events.order("start_time DESC")} %>

<% ready_script do -%>
  <%= render :partial => 'venues/load_gmap.js', :locals => {:venue => @venue, :blur => blur_venue_location?(@venue)} %>
<% end -%>
