<div class="form-group">
  <label>Do you mean?</label>
</div>
{{#each locations}}
  <div class="form-group">
  <input type="radio" name="location_id" value="{{this.id}}" data-address="{{this.address}}"/>
  <span>{{this.address}}</span>

</div>
{{/each}}

<div class="form-group">
  <label>Or you want create?</label>
</div>
<div class="form-group">
  <input type="radio" name="location_id" value="0" id="location_id" data-address="{{location.address}}" checked="checked"/>
  <span>{{location.address}}</span>

</div>


