<% if false %>
  <div class="pull-right well">
    <a id="fb_sign_in" class="btn-auth btn-facebook large" href="#">Log in with <b>Facebook</b></a>  
  </div>
<% end %>
<h2>Log In</h2>
<div class="span-4">
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :remember_me, as: :boolean %>

    <div class="form-actions">
      <%= f.submit "Log in", class: "btn btn-primary" %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
