<p><a id="fb_sign_in" class="btn-auth btn-facebook large" href="#">Sign in with <b>Facebook</b></a></p>

<p><strong>or</strong></p>

<p>
    <div class="well well-small span-3 simple_boxed_form">
    <legend>Sign in with your email & password</legend>
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
      <%= f.input :email %>
      <%= f.input :password, :required => true %>
      <%# f.input :remember_me, as: :boolean %>

      <div class="form-actions">
        <%= f.submit "Sign in", class: "btn" %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</p>  
