<div class="page-header">
  <%= link_to counties_neighborhoods_path, :class => 'btn btn-default' do %>
    <i class="fa fa-list-alt"></i>
    All neighborhoods
  <% end %>
  <%= iconic_link_to 'Show', @neighborhood, :icon => 'map-marker', :class => 'btn btn-primary' %>
  <h1>Editing neighborhood</h1>
</div>

<div class="row">
  <div class="pull-right">
    <div id="map-canvas" class="img-polaroid"></div>
  </div>
  
  <div class="col-sm-6">
    <%= render 'form' %>
  </div>
</div>

<% ready_script do -%>
  loadGMap({title: "<%= @neighborhood.name %>", geo_json: <%= @neighborhood.as_geo_json.html_safe %>});
<% end -%>

