<div class="page-header">
  <%= link_to new_neighborhood_path, :class => 'btn btn-primary' do %>
    <i class="icon-plus icon-white"></i>
    New Neighborhood (from KML)
  <% end %>
  <% if @county %>
    <h1><%= @county %> County, <%= @state %> Neighborhoods</h1>
  <% else %>
    <h1>All Neighborhoods</h1>
  <% end %>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <% unless @county %>
        <th>State</th>
        <th>County</th>
      <% end %>
      <th>Locations</th>
      <th>Venues</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @neighborhoods.each do |neighborhood| %>
    <tr>
      <td>
        <span class="popover_map" data-content='<img src="<%= static_gmap_url(neighborhood) %>"/>' data-title="<%= neighborhood.name %>" data-placement="right">
          <%= link_to neighborhood.name, neighborhood %>
        </span>
      </td>
      <td><%= neighborhood.city %></td>
      <% unless @county %>
        <td><%= neighborhood.state %></td>
        <td><%= neighborhood.county %></td>
      <% end %>
      <td><%= neighborhood.locations.count %></td>
      <td><%= neighborhood.venues.count %></td>
      <td>
        <%= iconic_link_to 'Edit', edit_neighborhood_path(neighborhood), class: 'btn btn-xs', title: 'edit' %>
        <%= iconic_link_to 'Delete', neighborhood, confirm: 'Are you sure?', method: :delete, class: 'btn btn-xs btn-danger', title: 'delete' %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
