<div class="page-header">
  <%= iconic_link_to 'All neighborhoods', counties_neighborhoods_path, :icon => 'list-alt', :class => 'btn btn-default' %>
  <h1>New neighborhood from KML</h1>
  
</div>

<div class="col-md-4">
<%= simple_form_for :neighborhood, :url => neighborhoods_path do |f| %>
  <%= f.input :name, label: 'Name', value: '' %>
  <%= f.input :_kml, as: :text, label: 'KML', value: '', input_html: {rows: 4, class: 'form_control'} %>
  <p>Draw a boundary <%= link_to 'with this tool', "http://www.birdtheme.org/useful/v3tool.html" %>.  Then, paste your KML into the field above to create your new neighborhood. Be sure to select "Polygon" and "KML" at the top.</p>  

  <div class="form-actions">
    <%= f.submit 'Create new neighborhood from KML', :class => "btn btn-primary" %>
  </div>
<% end %>
</div>