<% neighborhood ||= @neighborhood %>
<div class="page-header">
  <% if can? :manage, @neighborhood %>
    <%= link_to counties_neighborhoods_path, :class => 'btn' do %>
      <i class="icon-list-alt"></i>
      All neighborhoods
    <% end %>
    <%= iconic_link_to 'Edit', edit_neighborhood_path(@neighborhood), :class => 'btn btn-primary' %>
  <% end %>
  <h2><%= neighborhood.name %></h2>
</div>
<p>
  <%= neighborhood.city %>, <%= neighborhood.state %> (<%= neighborhood.county %> county)
  <p>
    <div id="map-canvas" class="img-polaroid"></div>
  </p>
</p>

<% ready_script do -%>
  loadGMap({title: "<%= neighborhood.name %>", geo_json: <%= neighborhood.as_geo_json.html_safe %>});
<% end -%>
