<div class="modal fade" id="modal-add-review" tabindex="-1" role="dialog" aria-labelledby="modalAddReview" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalAddReview">Add Review</h4>
      </div>
      <%= simple_form_for(Review.new, :remote => true, html: {id: 'review-form'} ) do |f| %>
          <div class="modal-body">
            <div class="review-elements">
              <%= f.hidden_field :apropos_id, :value => workshop.id %>

              <%= f.input :body, :wrapper => :bootstrap do %>
                  <%= f.input_field :body, :as => :text, :class => 'input-block-level', :rows=>"10" %>
                  <%= content_tag(:span,'', :class => 'help-inline hide') %>
              <% end %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.button :submit, 'Add it!', :class => "create_review btn btn-primary"%>
          </div>
      <% end %>
    </div>
  </div>
</div>

<div class="hidden">
  <%= link_to '#', add_review_path, id: 'add_review' %>
</div>
