<li class="col-md-6 review-box">
  <div class="review-rating">
    <div class="review-arrow"><%=link_to content_tag( :i, '', :class => "fa fa-arrow-up" ), plus_review_path(review), :class => "plus-rating" %></div>
    <div class="review-rating-value"><%= review.rating %></div>
    <div class="review-arrow"><%=link_to content_tag( :i, '', :class => "fa fa-arrow-down" ), minus_review_path(review), :class => "minus-rating" %></div>
  </div>
  <div class="thumbnail thumbnail-review">
    <div class="caption">
      <h4 class="review-author"><%= review.author.name %></h4>
      <!--<div class="ellipsis">-->
        <div>
            <%= content_tag :div, :class => "review-body" do %>
              <%= simple_format truncate(review.body, :length => 130, :separator => ' ') %>
            <% end %>
            <%= content_tag :div, :class => "review-body-full", :style => 'display: none;' do %>
              <%= simple_format h(review.body) %>
            <% end %>
            <%= link_to( '', review, :class=> 'review-destroy-link') if current_user == review.author %>
            <a href="#" class="review-more text-muted">More</a>
        </div>
      <!--</div>-->
      <div class="review-bottom">
        <div class="review-time"><%= time_ago(review.created_at) %> </div>

      </div>
    </div>
  </div>
</li>