<%
  show_icons ||= false
  click_to_show ||= false
%>
<table class="table table-hover table-striped rerun_index">
  <thead>
    <th colspan="2">Time</th>
    <th></th>
    <th>Attendees</th>
    <th>Venue</th>
    <th>Price</th>
    <% if show_icons %>
    <th></th>
    <% end %>
  </thead>
  <tbody>
<% reruns.each do |rerun| %>
    <tr <% if click_to_show -%>
      class="click_to_show"
      href="<%= url_for(rerun) %>"
    <% end -%>>
      <%= meeting_time(rerun.first_meeting, :tag => :td, :short_date => true, :no_tz => true, :show_livestamp => false) %>
      <td><%= "#{rerun.meetings.count}x" if rerun.meetings.count > 1 %></td>
      <td><%= editable rerun, :max_attendees %> max</td>
      <td><%= editable rerun, :default_venue_uuid %></td>
      <td><%= editable rerun, :price %></td>
      <% if show_icons %>
      <td>
        <%= link_to rerun, :title => 'view/manage workshop' do -%>
          <i class="icon-play"></i>
        <% end -%>
      </td>
      <% end %>
    </tr>
<% end %>
  </tbody>
</table>
