<%
  show_icons ||= false
  click_to_show ||= false
  editable ||= false
%>
<table class="table table-hover table-striped rerun_index">
  <thead>
    <th colspan="2">Time</th>
    <th></th>
    <th>Slots</th>
    <th>Venue</th>
    <th>Price</th>
    <% if show_icons %>
    <th></th>
    <% end %>
  </thead>
  <tbody>
<% reruns.each do |rerun| %>
  <% if editable and not rerun.locked? %>
    <tr <% if click_to_show -%>
      class="click_to_show"
      href="<%= url_for(rerun) %>"
    <% end -%>>
      <%= meeting_time(rerun.first_meeting, :wrapper_tag => :td, :wrapper_options => {:class => 'vc_editable'}, :short_date => true, :no_tz => true, :show_livestamp => false) %>
      <td><%= "#{rerun.meetings.count}x" if rerun.meetings.count > 1 %></td>
      <td><%= editable rerun, :max_attendees %></td>
      <td><%= editable rerun, :default_venue_uuid %></td>
      <td><%= editable rerun, :price %></td>
      <% if show_icons %>
      <td><%= render 'reruns/icon_buttons', :rerun => rerun %></td>
      <% end %>
    </tr>
  <% else %>
    <tr <% if click_to_show -%>
      class="click_to_show"
      href="<%= url_for(rerun) %>"
    <% end -%>>
      <%= meeting_time(rerun.first_meeting, :wrapper_tag => :td, :short_date => true, :no_tz => true, :show_livestamp => false) %>
      <td><%= "#{rerun.meetings.count}x" if rerun.meetings.count > 1 %></td>
      <td><%= rerun.max_attendees %></td>
      <td><%= inline_venue(rerun.venue) %></td>
      <td><%= rerun_price(rerun) %></td>
      <% if show_icons %>
      <td><%= render 'reruns/icon_buttons', :rerun => rerun %></td>
      <% end %>
    </tr>
  <% end %>    
<% end %>
  </tbody>
</table>
