<%
  rerun ||= @rerun
  include_venue ||= false
  include_location ||= false
  li_class ||= nil
  br_on ||= false
  inline ||= false
  full_path ||= false
%>
<ul class="<%= 'inline' if inline %>">
  <% rerun.meetings.order(:start_time).each do |meeting| -%>
    <li <%= "class='#{li_class}'" if li_class %>>
      <span><%= meeting_time(meeting, :no_tz => true, :show_livestamp => false, :spacer => ' ') %></span>
      <% if include_venue %>
        <% if br_on %>
          <br/>
        <% end %>
        <span class="venue"><%= inline_venue(meeting.venue, :linked => true, :only_path => (not full_path)) %></span>
      <% end %>
      <% if include_location %>
        <% if br_on %>
          <br/>
        <% end %>
        <span class="location"><%= meeting.venue.blank? ? 'TBD' : meeting.location.address %></span>
      <% end %>
    </li>
  <% end -%>
</ul>
