<%
  show_icons ||= false
  show_manage_buttons ||= false
  click_to_show ||= false
  editable ||= false
  clear_source_cache ||= false
  hide_flags ||= false
%>
<% if editable and not rerun.locked? %>
  <tr <% if click_to_show -%>
    class="click_to_show"
    href="<%= url_for(rerun) %>"
  <% end -%> data-rerun_uuid="<%= rerun.uuid %>">
    <td class="meeting_time">
      <span class="vc_editable meeting_time">
        <%= meeting_time(rerun.first_meeting, :short_date => true, :no_tz => true, :show_livestamp => false) %>
      </span>
    </td>
    <td><%= "#{rerun.meetings.count}x" if rerun.meetings.count > 1 %></td>
    <% unless hide_flags %>
      <td>
        <%= form_for(rerun, :remote => true, :format => :json, :html => { :method => :put, :class => 'margin0 rsvp_toggle' }) do |f| -%>
          <%= f.check_box :rsvp, :class => 'submit_on_click' %>
        <% end -%>
      </td>
      <% if admin_session? %>
        <td>
          <%= form_for(rerun, :remote => true, :format => :json, :html => { :method => :put, :class => 'margin0 external_toggle' }) do |f| -%>
            <%= f.check_box :external, :class => 'submit_on_click' %>
          <% end -%>
          <div class="external_url<%= ' initially_hidden' unless rerun.external %>">
            <%= editable rerun, :external_url %>        
          </div>
        </td>
      <% end %>
    <% end %>
    <td><%= editable rerun, :max_attendees %></td>
    <td><span class="vc_editable venue"><%= editable rerun, :venue_uuid, :sourceCache => (not clear_source_cache), :source => my_venues_path(:add_new => true, :for_user => @workshop.host.try(:uuid)) %></span></td>
    <td><%= editable rerun, :price %></td>
    <% if show_icons %>
    <td><%= render 'reruns/icon_buttons', :rerun => rerun %></td>
    <% end %>
  </tr>
<% else %>
  <tr <% if click_to_show -%>
    class="click_to_show"
    href="<%= url_for(rerun) %>"
  <% end -%> data-rerun_uuid="<%= rerun.uuid %>">
    <td class="meeting_time"><span><%= meeting_time(rerun.first_meeting, :short_date => true, :no_tz => true, :show_livestamp => false) %></span></td>
    <td><%= "#{rerun.meetings.count}x" if rerun.meetings.count > 1 %></td>
    <% unless hide_flags %>
      <td>
        <%= check_box_tag '', 1, rerun.rsvp, disabled: true %>
      </td>
      <td>
        <%= check_box_tag '', 1, rerun.external, disabled: true %><br/>
        <% if rerun.external? and not rerun.external_url.blank? %>
          <span class="text-muted"><%= rerun.external_url.truncate(27) %></span>
        <% end %>
      </td>
    <% end %>
    <td><%= rerun.max_attendees %></td>
    <td><%= inline_venue(rerun.venue) %></td>
    <td><%= rerun_price(rerun) %></td>
    <% if show_icons or show_manage_buttons %>
    <td>
      <% if show_manage_buttons %>
        <span class="manage_attendees<%= ' initially_hidden' unless rerun.manageable? %>">
          <%= iconic_link_to("Manage", manage_event_path(rerun), :icon => 'group', :class => "btn btn-small btn-default") %>
        </span>
      <% end %>
      <% if show_icons %>
        <%= render 'reruns/icon_buttons', :rerun => rerun %>
      <% end %>
    </td>
    <% end %>
  </tr>
<% end %>    
