<%
   signed_up = current_user.try(:attending_event?, rerun)
   text_class = signed_up ? 'text-success' : 'text-default'
   hidden ||= false
%>
<li class="row<%= ' initially_hidden' if hidden %>">
  <span class="<%= text_class %>">
    <%= link_to event_path(rerun) do %>
      <% if signed_up %>
        <%= content_tag(:i, '' , :class => "glyphicon glyphicon-ok") %>
      <% else %>
        <%= content_tag(:i, '&nbsp;'.html_safe, :class => "glyphicon") %>
      <% end %>
      <%= meeting_time(rerun.first_meeting, date_format: "%a %b", no_tz: true, show_end_time: false, show_livestamp: false) %>
      <% end %>
    <% if current_user.attending_event?(rerun) && (@workshop.next_meeting.start_time - 24.hours) > Time.now %>
      (<%= link_to 'cancel', cancel_attend_path(rerun), method: :post, rel: :nofollow, class: 'text-muted' , title: 'Refund will process in a few business days'%>)
    <% elsif current_user.attending_event?(rerun) && (@workshop.next_meeting.start_time - 24.hours) < Time.now %>
      (<%= link_to 'cancel', 'http://villagecraft.org/terms_of_use#refund-policy', method: :post, rel: :nofollow, class: 'text-muted', title: 'Too late to cancel. Click to see our refund policy.' %>)
      <!-- FIXME add root_url to the link above -->
    <% else %>
      (<%= meeting_duration_in_hours(rerun.first_meeting) %>)
    <% end %>
  </span>
</li>