<% 
  rerun ||= (@rerun || @event) 
  show_time ||= false
%>

<% if show_time %>
  <div class="span2">
    <% if rerun %>
      <div class="blocky_spns">
        <% if rerun.first_meeting.ongoing? %>
          <%= meeting_time(rerun.first_meeting, :short_date => true, :no_tz => true, :show_livestamp => false) %>
          <span class="muted">happening right now</span>
        <% else %>
          <%= meeting_time(rerun.first_meeting, :short_date => true, :no_tz => true, :show_livestamp => true) %>
        <% end %>
      </div>
      <p><%= render :partial => 'events/inline_attend_state', :locals => {:event => rerun} %></p>
    <% else %>
      <span class="muted">no upcoming dates</span>
    <% end %>
  </div>
<% end %>

<div class="span2">
  <p>
    <%= render('reruns/location', :rerun => rerun) if rerun %>
  </p>
</div>

<div class="span1">
  <%= render 'reruns/price_full_or_spots_left', :rerun => rerun %>
</div>
