<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="/">Villagecraft <span class="brand-tag">the online community for real learning</span></a>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
      	<ul class="nav">
      	</ul>
      	<ul class="nav pull-right">
          <% if not user_signed_in? %>
            <li><%= link_to "Sign Up", '#', :'data-toggle_modal_registration' => true %></li>
            <li><%= link_to "Log In", new_user_session_path %></li>
          <% else %>
            <% if current_user.try(:host?) %>
              <li><%= link_to "My Events", my_events_path %></li>
            <% end %>
            <% if false # @notifications %>
              <li class="dropdown">
                <%= link_to '#', :class => 'dropdown-toggle', :role => 'button', :'data-toggle' => "dropdown", :id => 'notifications_toggle' do -%>
                  <i class="icon-bell"></i><% if @unseen_notifications_count > 0 %><span class="text-info" id="notifications_count"><%= @unseen_notifications_count %></span><% end %>
                <% end %>
                <div class="dropdown-menu notifications" role="menu">
                  <ul>
                    <% @notifications.each do |notification| %>
                      <li>
                        <div class="thumbnail right-caption">
                          <%= link_to notification.activity.trackable do -%>
                            <% render_activity(notification.activity, :plaintext => true, :show_trackable => true) %>
                          <% end -%>
                        </div>
                      </li>
                      <li class="divider"></li>
                    <% end %>
                  </ul>
                  <div class="center-text well well-small margin0">
                    <%= link_to 'See all notifications', notifications_path %>
                  </div>
                </div>
              </li>
            <% end %>
            <li class="dropdown">
              <%= link_to '#', :role => 'button', :class => "dropdown-toggle", :'data-toggle' => "dropdown" do -%>
                <% if session[:admin_mode] %>
                  <span class="admin_color"><%= "#{current_user.name} (admin mode)" %></span>
                <% else %>
                  <span><%= current_user.name %></span>
                <% end %>
              <% end %>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to 'My Profile', current_user %></li>
                <li class="divider"></li>
                <li><%= link_to 'Manage Account', edit_user_registration_path %></li>
                <% if session[:admin_mode] %>
                <li class="divider"></li>
                <li><%= link_to 'Admin Dashboard', dash_path %></li>                
                <li><%= link_to 'Exit Admin Mode', admin_mode_toggle_path, :method => :post %></li>                
                <li class="divider"></li>
                <% end %>
                <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          <% end %>
      	</ul>
        <!-- .nav, .navbar-search, .navbar-form, etc -->
      </div>
    </div>
  </div>
</div>

<% ready_script do -%>
  $('#notifications_toggle').on('click', function() {
    $.post("<%= clear_notifications_path %>", function(data) {
      $('#notifications_count').hide();
    });
  });
<% end -%>

