<!DOCTYPE html>
<html>
	<head>
	  <title>Villagecraft</title>
	  <%= stylesheet_link_tag "application", :media => "all" %>
	  <%= yield(:a_la_carte_css) -%>
	  <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
	</head>
	<body>
		<div class="container">
  		<%= render 'layouts/header' %>
		
  		<div id="alerts">
        <%= bootstrap_flash %>
      </div>
      	
  		<%= yield %>
		</div>

		<%= render 'layouts/footer' %>
	</body>
	<% unless user_signed_in? %>
	  <%# render :partial => 'devise/registrations/modal_new' %>
	  <%= render :partial => 'devise/registrations/modal_signup' %>
	  
    <% body_script do -%>
      <%= render :partial => 'devise/shared/facebook', :formats => [:js] %>
    <% end -%>

	<% end %>
	
	<%= javascript_include_tag "application" %>
	<%= yield(:a_la_carte_js) -%>
  <%= render :partial => "layouts/body_and_ready_scripts" %>
  
</html>
































































