<!DOCTYPE html>
<html lang="en">
	<head>
    <title><%= yield(:title).blank? ? "Villagecraft" : yield(:title) %></title>
	  <%= stylesheet_link_tag "application", :media => "all" %>
	  <%= stylesheet_link_tag "hosts_only", :media => "all" if current_user.try(:host?) %>
    <meta name="description" content="<%= yield(:meta_description) %>">
    <meta name="keywords" content="<%= yield(:meta_keywords) %>" >
    <%= yield(:og_meta_tags) %>
    
	  <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

	<!-- removed stripe checkout script from here -->

	</head>
	<body>
    <%= render 'layouts/facebook_sdk' %>
		<div class="container">
  		<%= render 'layouts/header' %>
		
  		<div id="alerts">
        <%= bootstrap_flash %>
      </div>
      	
  		<%= yield %>
		</div>

		<%= render 'layouts/footer' %>
	</body>
	<% unless user_signed_in? %>
	  <%# render :partial => 'devise/registrations/modal_new' %>
	  <%= render :partial => 'devise/registrations/modal_signup' %>
	  
    <% body_script do -%>
      <%= render :partial => 'devise/shared/facebook', :formats => [:js] %>
    <% end -%>

	<% end %>
	
  <%= render :partial => '/layouts/environment' %>
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "hosts_only" if current_user.try(:host?) %>
  <%= render :partial => "layouts/body_and_ready_scripts" %>
  
</html>