<!DOCTYPE html>
<html>
	<head>
	  <title>Villagecraft</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<% flash.each do |name,message| %>
		<%= content_tag(:div, message, class: "alert alert-#{name}") %>
		<% end %>
	
		<div class="container">
		<%= yield %>
		</div>
	</body>
	
	<%= javascript_include_tag "application" %>
  <%= render :partial => "layouts/body_and_ready_scripts" %>
  
</html>
